{% extends 'main_index.html' %}
{% block MDesc %}
404 error
{% endblock %}
{% block MKW %}404 error{% endblock %}
{% block Mr %}
24/09/2021
{% endblock %}
{% block MAut %}
Amar khamkar
{% endblock %}
{% block title %}404 not found
{% endblock %}
{% block body %}
<style>


</style>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="text-center text-light">
                   <img src="/static/404.png" width="300px" height="300px" alt="">
                    <h2>404 - Page not found</h2>
                    <p class="my-4 text-monospace lead">The page you are looking for was moved, removed, renamed or might never existed.</p>
                    <a class="btn btn-primary" href="/">Back to Home</a>
                   </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}