{% extends 'main_index.html' %}
{% block MDesc %}
500 error
{% endblock %}
{% block MKW %}500 error{% endblock %}
{% block Mr %}
24/09/2021
{% endblock %}
{% block MAut %}
Amar khamkar
{% endblock %}
{% block title %}500 internal server error
{% endblock %}
{% block body %}

<div class="container">
<div class="row">
<div class="col-lg-12">
                <div class="text-center text-light">
                   <img src="/static/500.png" width="300px" height="300px" alt="">
                    <h2>500 - internal server error</h2>
                    <p class="my-4 text-monospace lead">There is an some error with this page.We are working hard to solve the issue.Sorry..for your inconvenience😌.</p>
                   </div>
                </div>
            </div>
</div>
</div>
{% endblock %}
