{% extends 'main_index.html' %}
{% block MDesc %}
About me
{% endblock  %}
{% block MKW %}

{% endblock  %}
{% block Mr %}
20/01/2021
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %} - About
{% endblock  %}
{% block body %}
<style>
.about{
  border:2px solid rgb(255,255,255)
  
}

</style>
<div class="col-md-6 container about my-5 text-light">
 <h1 class="font-weight-bold my-4">About</h1>
 <hr class="bg-light my-2">
  <p class="lead text-monospace text-light my-4">Hello dear friends,hope you all are fine wherever you all are.These are some words from creator about these web ,what motivated me
  to make such web and finally what is my goal throughout these website.</p>
 <hr class="bg-light my-2">
 <h2 class="my-3 ">Why such website or motivation behind these?</h2>
  <p class="lead text-monospace text-light my-4">Personally,when i used to search for calculator or some translator i dont get any web which has all these ..Some has converters
  & calculators ,some only have calculators and for translator we again have to search.And one of most important software you will get here is <a href="/name_sorting">Name sorting</a>
  in which you can arrange names in alaphabetical order.In many institution teachers has to do it with manually.So,these are some facts that motivated me to build such website.</p>
 <hr class="bg-light my-2">

 <h2 class="my-3 ">What is my mission/goal?</h2>
  <p class="lead text-monospace text-light my-4">My mission is to provide all the calculators which is in need in day today life and all converters.And to provide all language
  translator in which some voice recognition will be added ,in text analyzer also there will very much options in future like grammar correction of sentence etc.
  ,and many more software,some automation softwares will be coming soon that is essential to reduce the peoples effort and time.As everyone 
  said "Time is money" ,so yes main moto is to provide all those software which can save your time .So,do visit thses website to see some future updates and all those 
  software that we have.<a href="/">click here</a></p>
 <hr class="bg-light my-2">
  <p class="text-monospace my-4">If you have any query or have any suggestions for these website.Please <a href="/Contact_me/">Contact me</a></p>
  
</div>
{% endblock %}