{% extends 'main_index.html' %}
{% block MDesc %}

Amar Khamkar ,creator & developer of this CalConT.
{% endblock  %}
{% block MKW %}

{% endblock  %}
{% block Mr %}
20/01/2021
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %} Amar Khamkar - Creator of CalConT
{% endblock  %}
{% block body %}
<style>


.img-fluid {
  
  opacity: 0.8;
}
h1{
  font-size: 30px;
}
@media only screen and (max-width: 3000px) and (min-width: 300px){
  .bgimg {
    width: 100vh;
    height: 110vh;
}
}
@media only screen and (max-width: 767px) and (min-width: 485px) {
  .bgimg {
    width: 80vh;
    height: 88vh;
  }
  h1{
    font-size: 25px;
  }
}
@media only screen and (max-width: 484px) and (min-width: 375px) {
  .bgimg {
    width: 75vh;
    height: 73vh;
    margin-left: -40px;
  }
    h1{
      font-size: 25px;
    }
  }
@media only screen and (max-width: 374px) and (min-width: 250px) {
  .bgimg {
    width: 60vh;
    height: 58vh;
    margin-left: -40px;
  }
    h1{
      font-size: 20px;
    }
}

#hero .hero-content {
height: 80vh;
text-align: left;
width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
}

.hero-content h1 {
font-weight: 700;
margin-bottom: 10px;
text-transform: uppercase;
color: #fff;
}

.hero-content p {
font-size: 13px;
letter-spacing: 3px;
margin-top: 0;
margin-bottom: 30px;
text-transform: capitalize;
color: #fff;
font-weight: 500;
}

.hero-content .list-social li {
float: left;
margin-right: 20px;
}

.hero-content .list-social li i {
color: #fff;
font-size: 15px;
}
</style>
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
    <div id="carousel" class="carousel slide mx-4 my-4 " data-ride="carousel" >
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active bgimg">
                    <img src="/static/amar1.png" alt="responsive image"class="img-fluid" style="border-radius: 20px;">
            
          </div>
      </div>
  </div>

</div>
<div class="col-md-6">
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h3 class="text-warning text-bold text-monospace my-4">Hello,</h3>
        <h1>I'm <span class="typed" data-typed-items="Amar Khamkar,creator of CalConT"></span></h1>
        <p class="my-3">So,I am a fourth year engineering undergrad student who is a
        Web Developer , Game Developer , AI enthusiast.Have a passion & interest to build ideas which can be deploy and can impact in real-world.</p>
        <p class="my-4">Follow me on:</p>

        <ul class="list-unstyled list-social">
          <li><a href="https://www.linkedin.com/in/amar-khamkar-2710731a5/"><img src="/static/linkedin.png" width="40px" height="40px" alt=""></a></li>
          <li><a href="https://www.instagram.com/aprendiz_studio_/"><img src="/static/insta.png" width="40px" height="40px" alt=""></a></li>
          <li><a href="https://github.com/Amark19"><img src="/static/github.png" width="40px" height="40px" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div><!-- End Hero -->
  
</div>
</div>
</div>






{% block JS %}
<script>
    const select = (el, all = false) => {
    el = el.trim()
    if (all) {
      return [...document.querySelectorAll(el)]
    } else {
      return document.querySelector(el)
    }
  }
const typed = select('.typed')
  if (typed) {
    let typed_strings = typed.getAttribute('data-typed-items')
    typed_strings = typed_strings.split(',')
    new Typed('.typed', {
      strings: typed_strings,
      loop: true,
      typeSpeed: 100,
      backSpeed: 50,
      backDelay: 2000
    });
  }

</script>

{% endblock %}
{% endblock %}