{% extends 'main_index.html' %}
{% block MDesc %}
Since,english is a global language but in india percentage of people who can speak/write english is less.Since french is famous language
,most people around the world loves to learn these language.People who dont know french but they are in france for some reason and most of people in france dont know 
english they only speak france .
For all those people they can enter the English text here  and can translate it into in french,it"ll really helps you all
to improve your skills easily.
{% endblock  %}
{% block MKW %}English,french,translator,voice recognition{% endblock  %}
{% block Mr %}
30/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}-English to french Translator,voice recognition
{% endblock  %}
{% block body %}
<style>
#speech{
  display: block;
  position: absolute;

   height: 50px; 
  border-radius: 40px;
 outline:none;
  cursor: pointer;
  border-color: rgb(255, 94, 0);
}
.french{
  margin-top:60px;
}
 #speech :hover{
   background-color: rgb(0, 255, 251);
  border-radius: 40px;
  height:43px;
 width:100px;
 } 


</style>

<div class="container text-light">
  <div class="row ">
    <div class="col-md-6 ">
  <div class="my-4 ">
<h2 class="my-3 text-center text-light" >English to French</h2>
  <hr class="bg-light my-2">

  <h3 class="my-4 text-light">Why we need translation?</h3>
  <p class="text-light text-monospace my-4 mx-2">The skills of translation are becoming ever more important and desirable. 
    Today’s multicultural and multilingual society demands effective, efficient,
     and empathetic communication between languages and cultures. That’s important for various reasons, which we’ll now explore</p>
<hr class="bg-light my-2">


<h3 class="my-4 text-light">French language?</h3>
<p class="text-light text-monospace my-4 mx-2">As we all know English is global language but French is a language which is very famous and it is 
an language is a Romance language of the Indo-European family, which is spoken in northern France and in southern Belgium  located in Europe.
In these countries there are only 30-40 %  of people can speak English only
Since it is an tradtional language of France and its been spoken since from long time ago.</p>


<hr class="bg-light my-2">

<form action="/Translator/English_to_French/" class="tra" method='POST'>{% csrf_token %}
     {% if not alt %}
      <div class="form-group">
      <label for="" class='ui text-secondary text-light my-3'>Enter the text in english</label>
      <input class="form-control" name='text' id="EText" placeholder="Enter the english text" rows="9" required>
    </div>
    <div class=" mb-4" >
      <button type="submit" class="speak " id="speech" style="filter: invert();" >
              <i class="fa fa-microphone fa-2x " style="width:60px;"  aria-hidden="true"></i>
            </button>
            </div>
<div class="form-group french">
   
      <label for="Hindi" class='ui text-secondary text-light my-3'>French</label>
      <textarea class="form-control"  placeholder="To French.." id="Tohind"   rows="6"></textarea>
    </div>
      {% endif %}
    {% if alt%}
<div class="form-group">
      <label for="" class='ui text-secondary text-light my-3'>Enter the text in english</label>
      <input class="form-control" name='text' id="EText"  value="{{ortext}}" rows="9" required>
    </div>
    <div class=" mb-4" >
      <button type="submit" class="speak " id="speech" style="filter: invert();" >
              <i class="fa fa-microphone fa-2x " style="width:60px;"  aria-hidden="true"></i>
            </button>
            </div>
<div class="form-group french">
      <label for="Hindi" class='ui text-secondary text-light my-3'>French</label>
      <textarea class="form-control"   id="Tohind"   rows="6">{{text}}</textarea>
      </div>
      {% endif %}
      <button type="submit" class="btn btn-outline-primary trae my-2">Translate</button>
</form>
<hr class="bg-light my-2">
<h3 class="my-4 text-light">For whom these will be helpul?</h3>
<p class="text-light text-monospace my-4 mx-2">Since there are  many areas in france/Belgium who speaks only french but there very less people who speaks English
.And People around world/India loves to learn French and those who know english but 
not french but they live in France for some reason.For all those people they can enter the English text here  and can translate it into in French
,it"ll really helps you all
to improve your skills easily. </p>
<hr class="bg-light my-2">
<h3 class="text-light my-4">How can it will be helpful?</h3>
<p class="text-monospace text-light my-3"><p class="my-2">1.You can try to write english text by your own and can check whether its gramatically or in any aspect right or not
  and still you can practice more.</p><br><p class="my-2">2.People who dont know the meaning of english word/sentence will be helpful for those. and many more..
  </p><br><p class="my-2">3.You can use voice recogniton feature too avoid writing.</p>
<hr class="bg-light my-2">
 
</div>
</div>
<div class="col-md-2"></div>
    <div class="col-md-4 my-2 ">
      
      <div class="col p-4 d-flex flex-column position-static ">
        
      
  <h4 class="mb-2 ">Other Translators</h3>
          
          <li class="my-1"><a href="/Translator/English_to_hindi/">English to Hindi.</a></li>
        
          <li class="my-1"><a href="/Translator/English_to_Marathi/">English to marathi</a></li>
          <li class="my-1"><a href="/Translator/English_to_German/">English to German</a></li>
          <li class="my-1"><a href="/Translator/English_to_Arabian/">English to Arab</a></li>
          <h4 class="my-4">Analyzers</h3>
          <li class="my-2"><a href="/Analyzer/TextAnalyzer/">Text Analyzer</a></li>
            <li class="my-2"><a href="/Analyzer/name_sorting/" class="my-2">Name Sorting</a></li>
            <li class="my-2"><a href="/Analyzer/Grammar_correction/" class="my-2">Grammar Corrector</a></li>
            
          </div>
          
       
        </div>
      </div>
</div>
</div>
{% endblock  %}
{% block JS %}
<script>
{% if alt %}
window.scrollTo(0,450);
{% endif %}

window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
      window.SpeechGrammarList = window.SpeechGrammarList || window.webkitSpeechGrammarList;
      const grammar = '#JSGF V1.0'
      const recognition = new SpeechRecognition();
    const speechRecognitionList = new SpeechGrammarList();
      speechRecognitionList.addFromString(grammar, 1);
      recognition.grammars = speechRecognitionList;

      recognition.lang = 'en-US';
      recognition.interimResults = true;
      recognition.onresult = function(event) {
    const UserMsg = event.results[0][0].transcript;
      // console.log(UserMsg)
      document.getElementById("EText").value=UserMsg
     

}
      //OnEndingSpeech
        recognition.onspeechend = function() {
        recognition.stop();
        document.getElementById("speech").style.backgroundColor="white";
      }
      //ErrorHanling
      recognition.onerror = function(event) {
      // message.textContent = 'Error occurred in recognition: ' + event.error;
    }
    $('.speak').click(function (e) {
      e.preventDefault();
     
      document.getElementById("speech").style.backgroundColor="#00fbff";
      recognition.start();

    });

</script>
{% endblock  %}