{% extends 'main_index.html' %}
{% block MDesc %}
It is an tool/software which analyzes your text and check various possibilities of words that matches
    with your previous/next word and correct your text.It has huge amount backend that's why it could take some time according to length of 
    text.
{% endblock  %}
{% block MKW %}
Grammar corrector,grammar checker,free online,spell checker,grammar corrector of text
{% endblock  %}
{% block Mr %}
13/02/2021
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Grammar checker and grammar corrector
{% endblock  %}
{% block body %}

<style>
 
  #overlay{
    display:block;
  width: 50%;
  
  }
  .corrtxt{
    margin-top:70px
  }

  
</style>
<div class="container text-light">
<div class="row ">
  <div class="col-md-1"></div>
      <div class="col-md-7 my-4 " style="background-color:rgb(30,30,30);
      box-shadow:13px 4px 19px 7px rgb(19 17 17);">
        <div class="my-4 ">
    <h1 class="mx-4 font-weight-bold">Grammar checker </h1>
    <hr class="my-4 bg-dark">
    <h3 class="my-4 text-monospace">What is Grammar corrector?</h3>
    <p class="my-4">It is an tool/software which analyzes your text and check various possibilities of words that matches
    with your previous/next word and correct your text.It has huge amount backend that's why it could take some time according to length of 
    text. </p>
    <p class="my-4">CalConT has these tool which will be helpful to you all.And words which are not matching or incorrect will be underlined below
    text field only.</p>
    <hr class="my-4 bg-dark">
    <form id="form" action="/Analyzer/Grammar_correction/" method='POST'>{% csrf_token %}
    {% if not IsEnter%}
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter text  (<lablel class="text-danger">300 words only*</label>)</label>
    <textarea class="form-control" id="Text" name='text' placeholder="Enter your text" rows="7"></textarea>
  </div>
  {% endif %}
  {% if IsEnter%}
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter text  (<lablel class="text-danger">300 words only*</label>)</label>
    <textarea class="form-control" id="Text" name='text'  rows="7">{{text}}</textarea>
  <p id="exceed" class="text-light"></p>
  </div>
  {% endif %}
   <div class="text-center" id="overlay" role="status">
  <div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
   
   
</div>
  <div  class=" form-group">
    <label class="corrtxt" for="exampleFormControlTextarea1">Corrected text</label>
    <textarea class="form-control"   rows="7">{{NewText}}</textarea>
  </div>
   <button type="submit" class="btn btn-outline-primary  correct my-2">Correct</button>
</form>
    <hr class="my-4 bg-dark">
    <h3 class="my-4 text-monospace">What is use of Grammar corrector?</h1>
    <p class="my-4">Grammar corrector is very useful in every aspect and has various reasons how can it would be useful.Some of those are 
    as follows.
    <br>

<p class="my-1">1. Ofcourse it Saves time</p><br>
<p class="my-1">2. Saves nerves</p><br>
<p class="my-1">3. Since it tries many possibilities it has better feedback</p><br>
<p class="my-1">4. It increased target audience</p><br>
<p class="my-1">5. People are not well at english can practice here.</p></p>

  </div>

</div>
<div class="col-md-4 my-4 ">
    
  <div class="col my-2 p-4 d-flex flex-column position-static "  style="background-color:rgb(30,30,30);
  box-shadow:13px 4px 19px 7px rgb(19 17 17);">
        
      
        <h4 class="mb-2 ">Translators</h3>
          
          <li class="my-1"><a href="/Translator/English_to_hindi/">English to Hindi.</a></li>
          <li class="my-1"><a href="/Translator/English_to_Marathi/">English to Marathi</a></li>
          <li class="my-1"><a href="/Translator/English_to_French/">English to French</a></li>
          <li class="my-1"><a href="/Translator/English_to_German/">English to German</a></li>
          <li class="my-1"><a href="/Translator/English_to_Arabian/">English to Arab</a></li>
        </div>
  <div class="col p-4 my-3 d-flex flex-column position-static "  style="background-color:rgb(30,30,30);
  box-shadow:13px 4px 19px 7px rgb(19 17 17);">
          <h4 class="my-4">Text Analyzers</h3>
            <li class="my-2"><a href="/Analyzer/name_sorting/" class="my-2">Words alphabetizer</a></li>
            <li class="my-2"><a href="/Analyzer/TextAnalyzer/" >Text Editor
            </a></li>
            
          </div>
          
       
        </div>
      </div>
</div>
</div>
{% endblock  %}
{% block JS %}
<script>
  
    
window.onload = function () {
        $("#overlay").hide();
        {% if length_text > 300 %}
   document.getElementById("exceed").innerHTML="Text size exceeded than a limit."
   window.scrollTo(0,450);
    {% else %}
   window.scrollTo(0,450);
   document.getElementById("exceed").innerHTML=" "

    {% endif %}
    };

    $(document).ready(function () {
        $("#form").submit(function () {
            $("#overlay").show();

        });
    });
  
</script>
{% endblock  %}