{% extends 'main_index.html' %}
{% block MDesc %}
Conversion ,various calculators ,text manipulator ,arranging all the names in alphabetical order ...All these things are
available in
these website and lot to come in future.
{% endblock %}
{% block MKW %}
Conversion,calculators,text manipulation,sorting names
{% endblock %}
{% block Mr %}
30/12/2020
{% endblock %}
{% block MAut %}
Amar khamkar
{% endblock %}
{% block title %}
{% endblock %}
{% block body %}

<style>

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }

    @media (min-width: 768px) {
      html {
        font-size: 16px;
      }
    }

.rounded{
  background-image: rb(0,0,0);
}

    .pricing-header {
      max-width: 700px;
    }

    .card-deck .card {
      min-width: 220px;
    }
</style>
<!-- Custom styles for this template -->
{% if canlogin %}
{% if messages %}
 {% for message  in messages  %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    {{message}} you can login here <a href="/login/" class="">Login</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %} 
{% else %}
{% if messages %}
 {% for message  in messages  %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    {{message}} 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %} 
{% endif %}


<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 text-light">CalConT</h1>
    <p id="homext" class="mt-2 lead text-light  my-2"></p>
  </div>
  <div class="row mb-2 text-light">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block  text-secondary">CalConT</strong>
          <h3 class="mb-2">Converters</h3>

          <li><a href="/Conversion/BinaryConverter/">Binary converters</a></li>
          <li><a href="/Conversion/DecimalConverter/">Decimal converters</a></li>
          <li><a href="/Conversion/HexadecimalConverter/">Hexadecimal converters</a></li>
          <li><a href="/Conversion/UnitsConverter/">Units converters</a></li>
          <li><a href="/Conversion/CurrencyConverter/">Currency converters</a></li>
          <li><a href="/Conversion/infix_to_postfix">infix to postfix converter</a></li>

        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/static/Converters.jpg" class="bd-placeholder-img" width="200" height="280"
            aria-label="Placeholder: Thumbnail">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block  text-secondary">CalConT</strong>
          <h3 class="mb-2 my-2">Calculators</h3>



          <li class="my-2"><a href="/Calculator/EMI_calculator/">EMI Calculator</a></li>
          <li class="my-2"><a href="/Calculator/BMI_calculator/">BMI Calculator</a></li>
          <li class="my-2"><a href="/Calculator/GCD_calculator/">GCD Calculator</a></li>
          <li class="my-2"><a href="/Calculator/Postfix_calculator">Postfix Calculator</a></li>


        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/static/WebSiteHome.jpg" class="bd-placeholder-img" width="200" height="260"
            aria-label="Placeholder: Thumbnail">
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2 text-light">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block  text-secondary">CalConT</strong>
          <h3 class="mb-2">Translators</h3>

          <li class="my-1"><a href="/Translator/English_to_hindi/">English to Hindi.</a></li>
          <li class="my-1"><a href="/Translator/English_to_Marathi/">English to Marathi</a></li>
          <li class="my-1"><a href="/Translator/English_to_French/">English to French</a></li>
          <li class="my-1"><a href="/Translator/English_to_German/">English to German</a></li>
          <li class="my-1"><a href="/Translator/English_to_Arabian/">English to Arab</a></li>

        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/static/Translators.jpg" class="bd-placeholder-img" width="200" height="280"
            aria-label="Placeholder: Thumbnail">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block  text-secondary">CalConT</strong>
          <h3 class="mb-2 my-2">Analyzer</h3>



         <li class="my-2"><a href="Analyzer/TextAnalyzer/" class="my-2">Text Analyzer</a></li>
          <li class="my-2"><a href="/Analyzer/name_sorting/" class="my-2">Name Sorting</a></li>
          <li class="my-2"><a href="/Analyzer/Grammar_correction/" class="my-2">Grammar Corrector</a></li>


        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/static/Analyzer.jpg" class="bd-placeholder-img" width="200" height="260"
            aria-label="Placeholder: Thumbnail">
        </div>
      </div>
    </div>
  </div>
   <div class="my-3 p-3  rounded shadow-sm">
    <h6 class="border-bottom border-gray text-light pb-2 mb-0">Future updates</h6>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-light">pdf to word</strong>
        Pdf to word converter is coming soon....
      </p>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-light">Octal Converter</strong>
        Octal converterin converter is coming soon....
      </p>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-light">Tax Calculator</strong>
      Tax Calculator in calculators is coming soon....
    </div>
    <small class="d-block text-right mt-3">

    </small>
  </div>
</div>



{% endblock %}
{% block JS %}
<script>
var i = 0;
var txt = 'Conversions ,various calculators ,text Analyzer ,Translator, arranging all the names in alphabetical order.All these softwares are available in these website which reduces the humans work and send the result in a seconds.These types of calculators,converters are always in a need in day today life because we generally do these manually or it takes time/effort instead you can use these software when you in a need and give a feedback or some suggestion to improve these web/webpages in' 

var speed = 300;
setInterval ("typeWriter()", 1000);
function typeWriter() {
  if (i <= txt.length) {
    if (i==txt.length){
       document.getElementById("homext").innerHTML += "<a href='/Contact_me'> Contact me</a>";
    }
    else{
    document.getElementById("homext").innerHTML += txt.charAt(i);
    }
    i++;
    setTimeout(typeWriter, speed);
  }
}
   
</script>
{% endblock  %}