{% extends 'main_index.html' %}
{% block MDesc %}
Convert infix expression to postfix expression by entering expression.
{% endblock  %}
{% block MKW %}Infix to postfix calculator,infix to postfix conversion,how to convert infix to postfix?,Infix to postfix evaluator,Infix to postfix converter,infix expression converter{% endblock  %}
{% block Mr %}
26/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Infix to postfix calculator
{% endblock  %}
{% block body %}
<style>


</style>


<div class="container text-light">
  <div class="row ">

  <div class="col-md-7 my-3 " style="background-color:rgb(30,30,30);
  box-shadow:13px 4px 19px 7px rgb(19 17 17);">
      <div class="my-4 ">
<h2 class="my-2 text-center text-light" >Infix to postfix calculator</h2>
<hr class="bg-dark">
<h3 class="text-center text-light my-2">What is infix and postfix expression?</h3>
<p class="text-light text-monospace my-4 mx-2">An infix expression is expression which is used by us in day today life
  An infix expression is a single letter, or an operator, proceeded by one infix string and followed by another infix string.
  e.g. <b>A,A + B,(A + B) + (C – D)</b>.So,in which we have operators between operands.And postfix expression (also called Reverse Polish Notation)
  is a single letter or an operator, preceded by two postfix strings. Every postfix string longer than a single variable contains first and 
  second operands followed by an operator.e.g. <b>A,A B +,A B + C D –</b></p>
  <hr class="bg-light my-2">
  <form>
    <div class="form-group text-light my-4">
      <label for="exampleInputEmail1">Infix expression</label>
      <input type="text" class="form-control" placeholder="Enter infix expression" style="    color: white;
      background-color: #191717;
      border: 3px solid black;
      border-radius: 15px;" id="Infix" required>
     
    </div>
    <div class="form-group text-light">
      <label for="exampleInputPassword1">Postfix expression</label>
      <input type="text" class="form-control" placeholder="Postfix expression is..." style="    color: white;
      background-color: #191717;
      border: 3px solid black;
      border-radius: 15px;" id="Postfix" readonly>
    </div>
   <div>
    <button type="submit" class="btn btn-outline-secondary text-light con my-3">Convert</button>
   </div>
  </form>
  <hr class="bg-dark my-2">
  

  <h3 class="text-center text-light my-4">Conversion from infix to postfix expressions.</h3>
  <p class="text-light text-monospace my-4 mx-2">To convert infix expression to postfix expression, computers usually use the stack data structure.
    By scanning the infix expression from left to right, when we will get any operand,
    simply add them to the postfix form, and for the operator and parenthesis, add them in the stack maintaining the precedence of them.So,
    here you can convert infix expression to postfix by just entering infix expression.Checkout examples that are mention below in table.And you can also check
    <a href="/Conversion/postfix_to_infix"> Postfix to infix Converter</a> and <a href="/Calculator/Postfix_calculator/">Postfix Calculator</a></p>
    
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">expression no.</th>
      <th scope="col">Infix </th>
      <th scope="col">Postfix</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>A+B</td>
      <td>AB+</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>(A+B)*(C+D)</td>
      <td>AB+CD+*</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> a+b*c+d </td>
      <td>abc*+d+</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>x^y/(5*z)+2</td>
      <td>xy^5z*/2+</td>
      
    </tr>
  
   
  </tbody>
</table>
</div>
<hr class="bg-dark my-3">
<h3 class="text-center text-light">Applications</h3>
<p class="text-light text-monospace my-2 mx-2">Infix expressions are readable and solvable by humans. We can easily 
distinguish the order of operators, and also can use the parenthesis to solve that part first during solving mathematical expressions. 
The computer cannot differentiate the operators
 and parenthesis easily, that’s why postfix conversion is needed.Compilers or command editor in computer and some calculators also convert expression
 to postfix first and then solve those expression to evaluate answer for the same.</p>



</div>
</div>


    <div class="col-md-4 my-4 ">
     
      <div class="col p-4 d-flex flex-column position-static "  style="background-color:rgb(30,30,30);
      box-shadow:13px 4px 19px 7px rgb(19 17 17);">

        <h4 class="mb-2 ">Converters</h3>
          <li  class="my-2"><a href="/Conversion/DecimalConverter/">Decimal converters</a></li>
          <li class="my-2"><a href="/Conversion/BinaryConverter/">Binary converters</a></li>
          <li class="my-2"><a href="/Conversion/HexadecimalConverter/">Hexadecimal converters</a></li>
          <li class="my-2"><a href="/Conversion/UnitsConverter/">Units converters</a></li>
          <li class="my-2"><a href="/Conversion/CurrencyConverter/">Currency converters</a></li>
          <li class="my-2"><a href="/Conversion/cgpa_to_percentage/">cgpa to percent converter</a></li>
          <li class="my-2"><a href="/Conversion/postfix_to_infix">postfix to infix converter</a></li>
        </div>
        <div class="col p-4 d-flex flex-column position-static my-3"  style="background-color:rgb(30,30,30);
        box-shadow:13px 4px 19px 7px rgb(19 17 17);">
          <h4 class="my-4">Calculators</h3>
            <li class="my-2"><a href="/Calculator/EMI_calculator/">EMI Calculator</a></li>
          <li class="my-2"><a href="/Calculator/BMI_calculator/">BMI Calculator</a></li>
          <li class="my-2"><a href="/Calculator/GCD_calculator/">GCD Calculator</a></li>
          <li class="my-2"><a href="/Calculator/Postfix_calculator">Postfix Calculator</a></li>
            
          </div>
          
       
        </div>
      </div>
</div>
</div>
{% endblock %}
{% block JS %}
<script>
$('.con').click(function (e){
var infixed=document.getElementById('Infix').value;

var infix=infixed.split("")
var stack=[],postfix=[],top=-1,j=-1;
var operand,prec;

function isOperand( operand){
  if ((operand>='a' && operand<='z') || (operand>='A' && operand<='Z')  || (operand>='0' && operand<='9')){
    return(1);
    
  }
  else{

  return(0);
    
  }
}
function precedence( prec){
 if (prec=='('){
    
      return(4);
    }
    if (prec=='^'||prec=='%'){
      return(3);
    }
    if (prec=='*'||prec=='/'){
    return(2);
      
    }
    if (prec=='+'||prec=='-'){
    
      return(1);
    }
    if (prec==')'){
      return 0;
    }
    return -1;
}
for(var i=0;i<infix.length;i++){
    if (isOperand(infix[i])){
        j++;
        postfix[j]=infix[i];
       
        
      }
      else if (top==-1){
        top++;
        stack[top]=infix[i];
 
      }
      else if(infix[i]==')'){
while(stack[top]!='('){
  j++;
  postfix[j]=stack[top];
  top--;
 
}top--;
}
      
      else if (precedence(infix[i])>precedence(stack[top])){
          top++;
          stack[top]=infix[i];
        
        }
      else{
        while (precedence(infix[i])<=precedence(stack[top]) && top!=-1 && stack[top]!='('){
         j++;
          postfix[j]=stack[top];
          top--;
   
          
        }
        top++;
        stack[top]=infix[i];
   
        
      }
      
    }
      while (top!=-1){
        j++;
        postfix[j]=stack[top];
      top--;
        
      }

      

var strPost=postfix.toString();
document.getElementById("Postfix").value=strPost.replaceAll(",","");


e.preventDefault();
});
</script>
{% endblock  %}
