{% extends 'main_index.html' %}
{% block MDesc %}
Login
{% endblock  %}
{% block MKW %}
Login
{% endblock  %}
{% block Mr %}
20/05/21
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Login
{% endblock  %}
{% block body %}
<style>


.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
.container{
 
    /* height:500px; */
    
}
body{
   
}
</style>
{% if messages %}
 {% for message  in messages  %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %} 
<div class="mb-4 my-2 container text-light my-4  col-md-6" style="background-color:rgb(30,30,30);
box-shadow:13px 4px 19px 7px rgb(19 17 17); border-radius: 10px;">
    <h1 class="my-4 text-center">Login here</h1>
   
    <form class="form-signin my-3" action="/login/" method="post">
        {% csrf_token %}
        <p class="my-2">Email</p>
        
        <div class="form-label-group my-4">
            
            <input type="email" id="email" name="usernamelog" class="form-control" placeholder="Email" required autofocus>
            <label for="inputEmail">Email</label>
        </div>
        <p class="my-2">Password</p>
      
        <div class="form-label-group my-4">
          <input type="password" id="Password" name="password" class="form-control" placeholder="Password" required>
          <label for="inputPassword">Password</label>
        </div>
        <hr class="bg-dark my-2">
        
        <button class="btn btn-outline-secondary text-light btn-md btn-block my-2" type="submit">Log in</button>
        <p class="text-center my-3">OR</p>
        
        <a class="btn btn-outline-secondary text-light btn-md btn-block my-2" href="{% url 'social:begin' 'google-oauth2' %}"><img src="https://img.icons8.com/bubbles/50/000000/google-logo.png"/>Login with Google</a><br>
        <hr class="bg-dark my-2">
        <div class="checkbox my-3">
          <label>
            Don't have account yet?Please <a href="/signin">Sign up </a> here.
          </label>
        </div>
      </form>
</div>
{% endblock  %}
{% block JS %}
<script>


</script>
{% endblock  %}
