{% extends 'main_index.html' %}
{% block MDesc %}
Login
{% endblock  %}
{% block MKW %}
Login
{% endblock  %}
{% block Mr %}
20/05/21
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Login
{% endblock  %}
{% block body %}
<style>


</style>
{% if messages %}
 {% for message  in messages  %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %} 
<div class="container  text-light my-3 col-md-4  py-10" style="background-color:rgb(30,30,30);
        box-shadow:13px 4px 19px 7px rgb(19 17 17);"> 

<h2 class="my-4 text-center ">Login</h2>
        <hr class="bg-dark">
    <form class="form-signin my-3" action="/login/" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="validationDefault01"><label class="text-danger">*</label>Username</label>
          <input type="text" class="form-control my-2" id="username" name="usernamelog" 
          name="name" placeholder='Username' style="color: white;
          background-color: #191818;
          border: 2px solid #848484;
          border-radius: 15px;"  required>
        </div>
        <div class="form-group">
          <label for="validationDefault01"><label class="text-danger">*</label>Password</label>
          <input type="password" class="form-control my-2" id="password" name="password" 
         placeholder='Password' style="color: white;
          background-color: #191818;
          border: 2px solid #848484;
          border-radius: 15px;"  required>
        </div>
       
      
        <button class="btn btn-outline-secondary text-light my-2 " type="submit">Log in</button>
     
     OR
    
    
        <a  type="button"
      
         href="{% url 'social:begin' 'google-oauth2' %}">
          <img src="https://img.icons8.com/bubbles/50/000000/google-logo.png"/></a><br>
        
        <hr class="bg-dark my-2">
        <div class="checkbox my-3">
          <label>
            Don't have account yet?Please <a href="/signin">Sign up </a> here.
          </label>
        </div>
      </form>
</div>
{% endblock  %}
{% block JS %}
<script>


</script>
{% endblock  %}
