<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block MDesc %}{% endblock  %}">
  <meta name="keywords" content="{% block MKW %}{% endblock  %}">
  <meta name="revised" content="{% block Mr %}{% endblock  %}">
  <meta name="author" content="{% block MAut %}{% endblock  %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/prism.css">
    <script src="/static/prism.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <title> CalConT {% block title %}
    {% endblock title %} </title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/CalConT_logo.png">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T6P40QX3XC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-T6P40QX3XC');
  </script>
  <script data-ad-client="ca-pub-3911342542125154" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<style>
  @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(25,25,25);
  }

  navbar {
    background-color: black;

  }

  #baktop {

    right: 10px;
    margin-top: 500px;
    position: fixed;

  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .brand {
    border: 1px solid black;
    border-radius: 50px;
  }
  .dropdown-menu{
    background-color: rgb(25, 25, 25);
    border: 1.5px solid white;
    border-radius: 10px;
    color:blanchedalmond;
  }
  .dropdown-item{
    color:white;
  }
</style>

<body>
 <!-- Modal -->
 <div class="modal fade text-light" id="DoLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color:rgb(25,25,25)">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Create Account?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="">After registering in <a type="button" href="/" class="">CalConT</a> you will be notified about our
          recently added tools,and you will be always connected with us.Through these
          you can also help us to improve.</p>
        <br>
        <p class="my-1">Also do visit to our other popular pages <a type="button" href="/Conversion/infix_to_postfix"
            class="signin  ">Infix to Postfix calculator</a> and
          <a type="button" href="/Analyzer/Grammar_correction/" class="">Grammar checker</a>
        </p>

        <a type="button" href="/login" class="signin my-3 btn btn-outline-primary">Log In</a>
      </div>



    </div>
  </div>
</div>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(20,20,20);">
    <a class="navbar-brand" href="/">
      <img src="/static/CalConT_logo.png" class="brand" width="60" height="60" alt="" loading="lazy">
      CalConT

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link mx-3 font-weight-bolder" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
           Text Analyzer
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Analyzer/TextAnalyzer/">Text editor</a>
            <a class="dropdown-item" href="/Analyzer/name_sorting/">Words Alphabetizer</a>
            <a class="dropdown-item" href="/Analyzer/Grammar_correction/">Grammar Checker</a>


          </div>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Conversions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Conversion/BinaryConverter/">Binary Converter</a>
            <a class="dropdown-item" href="/Conversion/DecimalConverter/">Decimal Converter</a>
            <a class="dropdown-item" href="/Conversion/HexadecimalConverter/">Hexadecimal Converter</a>
            <a class="dropdown-item" href="/Conversion/UnitsConverter/">Units Converter</a>
            <a class="dropdown-item" href="/Conversion/infix_to_postfix">infix to postfix Converter</a>
            <a class="dropdown-item" href="/Conversion/postfix_to_infix">Postfix to infix converter</a>
            <a class="dropdown-item" href="/Conversion/CurrencyConverter/">Currency Converter</a>
            <a class="dropdown-item" href="/Conversion/cgpa_to_percentage/">Cgpa to percentage converter</a>
          </div>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Calculators
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/Calculator/EMI_calculator/">EMI Calculator</a>
            <a class="dropdown-item" href="/Calculator/BMI_calculator/">BMI Calculator</a>
            <a class="dropdown-item" href="/Calculator/GCD_calculator/">GCD Calculator</a>
            <a class="dropdown-item" href="/Calculator/Postfix_calculator/">Postfix Calculator</a>

          </div>

        </li>

        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Translator
          </a>
          <div class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/Translator/English_to_hindi/">English to Hindi</a>
            <a class="dropdown-item" href="/Translator/English_to_Marathi/">English to Marathi</a>
            <a class="dropdown-item" href="/Translator/English_to_French/">English to French</a>
            <a class="dropdown-item" href="/Translator/English_to_German/">English to German</a>
            <a class="dropdown-item" href="/Translator/English_to_Arabian/">English to Arabian</a>
          </div>

        </li>

        <li class="nav-item">
          <a class="nav-link mx-3 font-weight-bolder" href="/Contact_me">Contact me</a>
        </li>
      </ul>
      {% if not user.is_authenticated %}
      <div class="ml-auto my-2 ">
        <a type="button" href="\login\" class="btn btn-outline-light">Login</a>
        <a type="button"  href="\signin\" class="mx-2 btn btn-warning">Sign-up</a>
      </div>
{% else %}

<div class="dropdown ml-auto">
  <a class="btn btn-outline-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Welcome {{request.user}}
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/logout/">Logout</a>

  </div>
</div>
   
      {% endif %}
     
    </div>
  </nav>

  {% block body %}

  {% endblock %}
  <!-- <footer  class="footer  py-3 text-light bg-dark">
    <p class="mb-0 text-center">© 2020-2021 CalConT.in</p>
    <p class="mb-0 text-center">
      <a href="#">Back to top |</a>
      <a href="/About_me/">About </a>
    </p>

  </footer> -->
  <footer class="container-fluid mb-auto  py-3 text-center text-light my-5" style="background-color: rgb(21, 20, 19);">
    <p class="my-3">&copy;2020-2021 CalConT.in | <a href="/About/">  About  </a> | <a href="/Privacy_policy/">Privacy Policy</a></p>


</footer>
  <!-- Optional avaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script>
if(sessionStorage.getItem('DoLogin')==null){
  var Justpop=new Array();
setTimeout(function(){ 
if(Justpop.length==0){
  {% if not user.is_authenticated %}
  $('#DoLogin').modal('show')

{% endif %} 
} 
}, 40000);
  var i=0;
}
$(".close").click(function(e){


  i+=1;
  Justpop[i]=1;
sessionStorage.setItem("DoLogin",Justpop);
console.log(Justpop)
});
$(".signin").click(function(e){


  i+=1;
  Justpop[i]=1;
sessionStorage.setItem("DoLogin",Justpop);
{% comment %} console.log(Justpop) {% endcomment %}
});
 
  </script>
  {% block JS %}
  {% endblock %}
</body>

</html>