<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block MDesc %}{% endblock  %}">
  <meta name="keywords" content="{% block MKW %}{% endblock  %}">
  <meta name="revised" content="{% block Mr %}{% endblock  %}">
  <meta name="author" content="{% block MAut %}{% endblock  %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
  <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <title> {% block title %}
    {% endblock title %} </title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T6P40QX3XC"></script>
  <script 
  async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3911342542125154"
     crossorigin="anonymous">
    </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-T6P40QX3XC');
  </script>
  <script data-ad-client="ca-pub-3911342542125154" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<style>
  @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

  html {
    scroll-behavior: smooth;
  }
a{
  color: #6c859a;
}
  body {
    background-color: rgb(25, 25, 25);
  }

  navbar {
    background-color: rgb(5, 5, 5);

  }
  thead{
    background-color:#2f6794;
    color:#a1b0bb;
  }
  tbody{
    background-color:#1c2023;
  }
  .btn{
    padding: 0.5rem 1.8rem;
    border: none;
    font-size: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.8);
  }
  .btn-outline-secondary{
    padding: 0.5rem 1.8rem;
    border: none;
    font-size: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.8);
    background-color: #313233;
  }
  .trae{
    padding: 0.8rem 1.8rem;
    border: none;
    font-size: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.8);
    background-color: #3879ba;
  }

  #baktop {

    right: 10px;
    margin-top: 500px;
    position: fixed;

  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .brand {
    border: 1px solid black;
    border-radius: 50px;
  }
  .dropdown-menu{
    background-color: rgb(25, 25, 25);
    border: 1.5px solid white;
    border-radius: 10px;
    color:blanchedalmond;
  }
  .dropdown-item{
    color:white;
  }
 .footer{
  position: absolute;

  
 
 }
 .modelText{
   font-size: 18px;
 }
</style>

<body>
 <!-- Modal -->
<div class="modal fade text-light" id="DoLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="background-color: rgb(25, 25, 25);border-radius: 40px;">
        <div class="modal-header" style="border-bottom: 1px solid rgb(41 40 40);">
          <h4 class="modal-title" id="exampleModalLabel">Create Account?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="modalText" >After registering in <a type="button" href="/" class="">CalConT</a> you will be notified about our
            recently added tools,and you will be always connected with us.Through this
            you can also help us to improve. </p>
          <br>
          <p class="modalText">If you have any query about how your details stored after registering then you should read our <a href="\Privacy_policy">Privacy Policy.</a></p>
          <!-- <div class=" text-md-start ">
            <a href="/login/" class="btn btn-secondary-outline log shadow lift my-2 ">
              Contact Me <i class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
            </a> -->
            <hr class="bg-dark">
            <div class="container ">
            <div class="signUp  ">
            <a class="btn btn-lg btn-block  my-4  text-light btn-outline-secondary" href="\signin">Sign Up</a>
          </div>
          <p class="text-center mb-2 mt-2">OR</p>
          
          
            <a  type="button" class="btn  text-light btn-outline-secondary btn-md btn-block "
      
         href="{% url 'social:begin' 'google-oauth2' %}">Sign Up With   <img class="mx-2" src="/static/google.png"/></a><br>
      
        </div>
        </div>



      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: rgb(20,20,20);">
    <a class="navbar-brand" href="/">
      <img src="/static/Logo.png" class="brand" width="60" height="60" alt="" loading="lazy">
      CalConT

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link mx-3 font-weight-bolder" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
           Text Analyzer
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Analyzer/TextAnalyzer/">Text editor</a>
            <a class="dropdown-item" href="/Analyzer/name_sorting/">Words Sorting</a>
            <a  class="dropdown-item" href="/Analyzer/Grammar_correction/">Grammar Checker</a>
            <a  class="dropdown-item" href="/Analyzer/Online-Keywords-extractor-from-text/">Keywords Extractor</a>
            


          </div>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Conversions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Conversion/BinaryConverter/">Binary Converter</a>
            <a class="dropdown-item" href="/Conversion/DecimalConverter/">Decimal Converter</a>
            <a class="dropdown-item" href="/Conversion/HexadecimalConverter/">Hexadecimal Converter</a>
            <a class="dropdown-item" href="/Conversion/infix_to_postfix">infix to postfix Converter</a>
            <a class="dropdown-item" href="/Conversion/infix_to_prefix">infix to prefix Converter</a>
            <a class="dropdown-item" href="/Conversion/prefix_to_infix">Prefix to infix converter</a>
            <a class="dropdown-item" href="/Conversion/prefix_to_postfix">Prefix to postfix converter</a>
            <a class="dropdown-item" href="/Conversion/postfix_to_infix">Postfix to infix converter</a>
            <a class="dropdown-item" href="/Conversion/CurrencyConverter/">Currency Converter</a>
            <a class="dropdown-item" href="/Conversion/cgpa_to_percentage/">Cgpa to percentage converter</a>
          </div>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Calculators
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/Calculator/EMI_calculator/">EMI Calculator</a>
            <a class="dropdown-item" href="/Calculator/BMI_calculator/">BMI Calculator</a>
            <a class="dropdown-item" href="/Calculator/GCD_calculator/">GCD Calculator</a>
            <a class="dropdown-item" href="/Calculator/Postfix_calculator/">Postfix Calculator</a>
            <a class="dropdown-item" href="/Calculator/Prefix_calculator/">Prefix Calculator</a>

          </div>

        </li>

        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Translator
          </a>
          <div class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/Translator/English_to_hindi/">English to Hindi</a>
            <a class="dropdown-item" href="/Translator/English_to_Marathi/">English to Marathi</a>
            <a class="dropdown-item" href="/Translator/English_to_French/">English to French</a>
            <a class="dropdown-item" href="/Translator/English_to_German/">English to German</a>
            <a class="dropdown-item" href="/Translator/English_to_Arabian/">English to Arabian</a>
          </div>

        </li>

        <li class="nav-item">
          <a class="nav-link mx-3 font-weight-bolder" href="/Contact_me">Contact me</a>
        </li>
      </ul>
      {% if not user.is_authenticated %}
      <div class="ml-auto my-2 ">
        <a type="button" href="\login\" class="btn btn-outline-secondary" style="color: white;">Login</a>
        <a type="button"  href="\signin\" class="mx-2 btn btn-warning">Sign-up</a>
      </div>
{% else %}

<div class="dropdown ml-auto">
  <a class="btn btn-outline-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Welcome {{request.user}}
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/logout/">Logout</a>

  </div>
</div>
   
      {% endif %}
     
    </div>
  </nav>

  {% block body %}

  {% endblock %}
  <!-- <footer  class="footer  py-3 text-light bg-dark">
    <p class="mb-0 text-center">© 2020-2021 CalConT.in</p>
    <p class="mb-0 text-center">
      <a href="#">Back to top |</a>
      <a href="/About_me/">About </a>
    </p>

  </footer> -->
  <footer class="container-fluid footer   py-3 text-center text-light my-5" style="background-color: rgb(21, 20, 19);">
    <div class="row">
      <div class="col-md-6 order-md-2">
    <p class="my-3">&copy;2020-2021 CalConT.in | <a href="/About/"> About </a> | <a href="/Privacy_policy/">Privacy
        Policy</a>
      </p>
    </div>
    <div class="col-md-6 order-md-1">
      <div class="container">
      <p class="mx-auto mb-2" style="color: #6c859a;"><span class="text-light" style="font-size: 15px;">Contact on : </span> calcont.in01@gmail</p>
      <p class="mx-auto ">Follow On : <a href="https://www.linkedin.com/company/calcont-in/ "><img src="/static/ln.png" width="20px" height="20px" alt=""></a></p>
    </div>
    </div>
    </div> 


  </footer>
  <!-- Optional avaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script>
if(sessionStorage.getItem('DoLogin')==null){
  var Justpop=new Array();
setTimeout(function(){ 
if(Justpop.length==0){
  {% if not user.is_authenticated %}
  $('#DoLogin').modal('show')

{% endif %} 
} 
}, 45000);
  var i=0;
}
$(".close").click(function(e){


  i+=1;
  Justpop[i]=1;
sessionStorage.setItem("DoLogin",Justpop);
console.log(Justpop)
});
$(".signin").click(function(e){


  i+=1;
  Justpop[i]=1;
sessionStorage.setItem("DoLogin",Justpop);
{% comment %} console.log(Justpop) {% endcomment %}
});
 
  </script>
  {% block JS %}
  {% endblock %}
</body>

</html>