{% extends 'main_index.html' %}
{% block MDesc %}
Evaluate postfix expresion by entering expression as input.
{% endblock %}
{% block MKW %}Postfix evaluator,postfix calculator,how to calculate postfix expression?,Postfix expression evaluator,Postfix expression calculator{% endblock %}
{% block Mr %}
4/02/2021
{% endblock %}
{% block MAut %}
Amar khamkar
{% endblock %}
{% block title %}-Postfix expression calculator
{% endblock %}
{% block body %}
<style>
 
</style>
<div class="container text-light">
  <div class="row ">
    <div class="col-md-1"></div>
    <div class="col-md-7 my-3 " style="background-color:rgb(30,30,30);
    box-shadow:13px 4px 19px 7px rgb(19 17 17);">
      <div class="my-4 ">
          <h1 class="text-center ">Postfix expression calculator</h1>
          <hr class='bg-dark my-2'>
          <h3 class="my-4 text-center">What is Postfix expression?</h3>
          <p class="text-monospace my-4">And postfix expression (also called Reverse Polish Notation)
is a single letter or an operator, preceded by two postfix strings. Every postfix string longer than a single variable contains first and 
second operands followed by an operator.e.g. <b>A,A B +,A B + C D –</b>.</p>
          <hr class='bg-dark my-4'>
          <form>
              <div class="form-group my-4">
                  <label for="">Postfix expression(<label class="text-danger"> *Only numbers</label> )</label>
                  <input type="text" class="form-control" placeholder="Enter expression" id="Postfix" required>
          
              </div>
              <div class="form-group">
                  <label for="">Ans</label>
                  <input type="number" class="form-control" placeholder="Ans is.." id="Ans" disabled>
              </div>
          
              <button type="submit" class="btn btn-outline-primary cal">Calculate</button>
          </form>
          <hr class="bg-dark my-3">
          <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=amar054-21&marketplace=amazon&region=IN&placement=B08T6SJ215&asins=B08T6SJ215&linkId=b00c6cdc2b18a244e7393aa01e5b1d5a&show_border=true&link_opens_in_new_window=true"></iframe>
          <iframe style="width:120px;height:240px;"class="mx-4" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=amar054-21&marketplace=amazon&region=IN&placement=B083BSFNYR&asins=B083BSFNYR&linkId=90982c4cb4166d151ef1a9eb1faf12fc&show_border=true&link_opens_in_new_window=true"></iframe>


          <h3 class="my-3 text-center">How to evaluate Postfix expression?</h3>
          <p class=" my-4">1.First we read expression from left to right.So,During reading the expression from left to right, push the element in the stack if it is an operand.
<br><p class="my-2">2.If the current character is an operatorthen  pop the two operands from the stack  and then evaluate it.
      </p>
<br><p class="my-2">3.Push back the result of the evaluation. Repeat it till the end of the expression.Checkout examples that are mention below in table </p>
</p>

           <div class="container col-md-8 mt-4">
  <table class="table text-light">
<thead>
  <tr>
    <th scope="col">expression no.</th>
    <th scope="col">Postfix Expression </th>
    <th scope="col">Value</th>
    
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>54+</td>
    <td>9</td>
   
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>57+67+*</td>
    <td>156</td>
    
  </tr>
  <tr>
    <th scope="row">3</th>
    <td> 452*+5+ </td>
    <td>19</td>
    
  </tr>
  <tr>
    <th scope="row">4</th>
    <td> 456*+</td>
    <td>34</td>
    
  </tr>

 
</tbody>
</table>
</div>


          <hr class="bg-dark my-3">
          <h3 class="">Applications</h3>
          <p class=" text-monospace my-3 mx-2">Infix expressions are readable and solvable by humans. We can easily 
              distinguish the order of operators, and also can use the parenthesis to solve that part first during solving mathematical expressions. 
              But computer cannot differentiate the operators
and parenthesis easily, that’s why postfix conversion is needed.Compilers or command editor in computer and some calculators also convert expression
to postfix first and then solve those expression to evaluate answer for the same.</p>
         
              <hr class="bg-dark my-3">
      </div>
  </div>

  <div class="col-md-4 my-4 ">
    
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=amar054-21&marketplace=amazon&region=IN&placement=B011UK5DGY&asins=B011UK5DGY&linkId=6489f1d0b8aa088cdc8b29b71bcddec4&show_border=true&link_opens_in_new_window=true"></iframe>
        <iframe style="width:120px;height:240px;" class="mx-2" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=amar054-21&marketplace=amazon&region=IN&placement=B082P6TTMP&asins=B082P6TTMP&linkId=ad8045c3da49cc379a5389f3e91eb214&show_border=true&link_opens_in_new_window=true"></iframe>
    <div class="col p-4 d-flex flex-column position-static "  style="background-color:rgb(30,30,30);
    box-shadow:13px 4px 19px 7px rgb(19 17 17);">
      <h4 class="mb-2 ">Converters</h3>
        <li  class="my-2"><a href="/Conversion/DecimalConverter/">Decimal converters</a></li>
        <li class="my-2"><a href="/Conversion/BinaryConverter/">Binary converters</a></li>
        <li class="my-2"><a href="/Conversion/HexadecimalConverter/">Hexadecimal converters</a></li>
        <li class="my-2"><a href="/Conversion/UnitsConverter/">Units converters</a></li>
        <li class="my-2"><a href="/Conversion/CurrencyConverter/">Currency converters</a></li>
        <li class="my-2"><a href="/Conversion/infix_to_postfix">infix to postfix</a></li>
        <li><a class="my-3" href="/Conversion/cgpa_to_percentage/">Cgpa to percentage converter</a></li>
      </div>
      <div class="col p-4 d-flex flex-column position-static my-3"  style="background-color:rgb(30,30,30);
      box-shadow:13px 4px 19px 7px rgb(19 17 17);">
        <h4 class="my-4">Calculators</h3>
          <li class="my-2"><a href="/Calculator/EMI_calculator/">EMI Calculator</a></li>
        <li class="my-2"><a href="/Calculator/BMI_calculator/">BMI Calculator</a></li>
        <li class="my-2"><a href="/Calculator/GCD_calculator/">GCD Calculator</a></li>
      
          
        </div>
        
     
      </div>
    </div>
</div>
</div>
{% endblock %}
{% block JS %}
<script>

    $('.cal').click(function (e) {
            var postfix = document.getElementById("Postfix").value;
            var stack = [], top = -1;

            var i, a, b, result, pEval, ch;

            for (i = 0; i <= postfix.length; i++) {
                ch = postfix[i];

                if (!isNaN(parseInt(ch))) {


                    stack[++top] = parseInt(ch);
                }

                else if (ch == '+' || ch == '-' || ch == '*' || ch == '/') {
                    b = stack[top];
                    top--;
                    a = stack[top];
                    top--;


                    if (ch == '+') {
                        result = a + b;
                    }

                    else if (ch == '-') {
                        result = a - b;
                    }
                    else if (ch == '*') {
                        result = a * b;
                    }


                    else if (ch == '/') {
                        result = a / b;
                    }
                    stack[++top] = result;
                }

            }

            pEval = stack[top];

            // top--;
        

            document.getElementById("Ans").value = pEval
        
    




        e.preventDefault();
    });
</script>
{% endblock %}