{% extends 'main_index.html' %}
{% block MDesc %}

{% endblock %}
{% block MKW %}Postfix,expression,evaluator,calculator{% endblock %}
{% block Mr %}
4/02/2021
{% endblock %}
{% block MAut %}
Amar khamkar
{% endblock %}
{% block title %}-Postfix evaluator.
{% endblock %}
{% block body %}
<style>
    .jumbotron {
        border-radius: 10px;

    }
</style>
<div class="container col-md-6 my-5 mb-5">
    <div class="jumbotron jumbotron-fluid bg-light">
        <div class="container">
            <h1 class="text-center ">Postfix calculator</h1>
            <hr class='bg-black'>
            <h3 class="my-4 text-center">What is Postfix expression?</h3>
            <p class="text-monospace my-4">And postfix expression (also called Reverse Polish Notation)
 is a single letter or an operator, preceded by two postfix strings. Every postfix string longer than a single variable contains first and 
 second operands followed by an operator.e.g. <b>A,A B +,A B + C D –</b>.</p>
            <hr class='bg-black my-4'>
            <h3 class="my-3 text-center">How to evaluate Postfix expression?</h3>
            <p class="text-monospace my-4">1)First we read expression from left to right.So,During reading the expression from left to right, push the element in the stack if it is an operand.
<br>2)If the current character is an operatorthen  pop the two operands from the stack  and then evaluate it.
<br>3)Push back the result of the evaluation. Repeat it till the end of the expression.Checkout examples that are mention below in table </p>
             <div class="container col-md-8 mt-4">
    <table class="table text-dark">
  <thead>
    <tr>
      <th scope="col">expression no.</th>
      <th scope="col">Postfix Expression </th>
      <th scope="col">Value</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>54+</td>
      <td>9</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>57+67+*</td>
      <td>156</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> 452*+5+ </td>
      <td>19</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td> 456*+</td>
      <td>34</td>
      
    </tr>
  
   
  </tbody>
</table>
</div>

            <p class="text-monospace">You can evaluate Postfix expression  in below by entering expression.</p>
            <hr class='bg-black my-4'>
            <form>
                <div class="form-group my-4">
                    <label for="">Postfix expression</label>
                    <input type="text" class="form-control" placeholder="Enter expression" id="Postfix" Required>

                </div>
                <div class="form-group">
                    <label for="">Ans</label>
                    <input type="number" class="form-control" placeholder="Ans is.." id="Ans" disabled>
                </div>

                <button type="submit" class="btn btn-primary cal">Calculate</button>
            </form>

            <hr class="bg-light my-3">
<h3 class="text-center text-dark">Applications</h3>
<p class="text-dark text-monospace my-3 mx-2">Infix expressions are readable and solvable by humans. We can easily 
distinguish the order of operators, and also can use the parenthesis to solve that part first during solving mathematical expressions. 
But computer cannot differentiate the operators
 and parenthesis easily, that’s why postfix conversion is needed.Compilers or command editor in computer and some calculators also convert expression
 to postfix first and then solve those expression to evaluate answer for the same.</p>
            <hr class='bg-black my-3'>
            <h4 class="text-center text-dark mt-4">Can also check Infix to Postfix Converter</h4>
            <a class="text-center" href="/Conversion/infix_to_postfix">
                <p>Infix to postfix converter<p>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block JS %}
<script>

    $('.cal').click(function (e) {
            var postfix = document.getElementById("Postfix").value;
            var stack = [], top = -1;

            var i, a, b, result, pEval, ch;

            for (i = 0; i <= postfix.length; i++) {
                ch = postfix[i];

                if (!isNaN(parseInt(ch))) {


                    stack[++top] = parseInt(ch);
                }

                else if (ch == '+' || ch == '-' || ch == '*' || ch == '/') {
                    b = stack[top];
                    top--;
                    a = stack[top];
                    top--;


                    if (ch == '+') {
                        result = a + b;
                    }

                    else if (ch == '-') {
                        result = a - b;
                    }
                    else if (ch == '*') {
                        result = a * b;
                    }


                    else if (ch == '/') {
                        result = a / b;
                    }
                    stack[++top] = result;
                }

            }

            pEval = stack[top];

            // top--;
        

            document.getElementById("Ans").value = pEval
        
    




        e.preventDefault();
    });
</script>
{% endblock %}