{% extends 'main_index.html' %}
{% block MDesc %}
Convert prefix expression to infix expression by entering expression.
{% endblock  %}
{% block MKW %}prefix to infix calculator,prefix to infix conversion,how to convert prefix to infix?,prefix to infix evaluator,prefix to infix converter,prefix expression converter{% endblock  %}
{% block Mr %}
26/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- prefix to infix converter
{% endblock  %}
{% block body %}
<style>


</style>


<div class="container text-light">
  <div class="row ">

  <div class="col-md-7 my-3 " style="background-color:rgb(30,30,30);
  box-shadow:13px 4px 19px 7px rgb(19 17 17);">
      <div class="my-4 ">
<h2 class="my-2 text-center text-light" >prefix to infix converter</h2>
<hr class="bg-dark">
<h3 class="text-center text-light my-2">What is prefix and infix expression?</h3>
<p class="text-light text-monospace my-4 mx-2">An <b>prefix</b> expression 
 is a expression in which first operator comes and proceded by strings. Every prefix string longer than 
 a single variable contains first and 
 second operands followed by an operator.e.g. <b>A,+A B ,*A B ,+ * A B/ C D</b>.</p>
<p class="text-light text-monospace my-4 mx-2">An <b>infix</b> expression is expression which is used by us in day today life
    An infix expression is a single letter, or an operator, proceeded by one infix string and followed by another infix string.
    e.g. <b>A,A + B,(A + B) + (C – D)</b>.So,in which we have operators between operands.And expression (also called Reverse Polish Notation)
    is a single letter or an operator, preceded by two postfix strings. Every postfix string longer than a single variable contains first and 
    second operands followed by an operator.e.g. <b>A,A B +,A B + C D –</b></p>

  <form>
    <div class="form-group text-light my-4">
      <label for="exampleInputEmail1">prefix expression</label>
      <input type="text" class="form-control" placeholder="Enter prefix expression" style="    color: white;
      background-color: #191717;
      border: 3px solid black;
      border-radius: 15px;" id="prefix" required>
     
    </div>
    <div class="form-group text-light">
      <label for="exampleInputPassword1">infix expression</label>
      <input type="text" class="form-control" placeholder="infix expression is..." style="    color: white;
      background-color: #191717;
      border: 3px solid black;
      border-radius: 15px;" id="infix" readonly>
    </div>
   <div>
    <button type="submit"  class="btn btn-outline-secondary text-light con my-3">Convert</button>
   </div>
  </form>
  <hr class="bg-dark my-2">
  

  <h3 class="text-center text-light my-4">Conversion from prefix to infix expressions.</h3>
  <p class="text-light text-monospace my-4 mx-2">
    First,Read the Prefix expression in reverse order (from right to left)<br>
    1.If the symbol is an operand, then push it into the Stack<br>
    2.But if the character is an operator, pop the top two values from stack. <br>
    3.Create a string by concatenating the two operands and the operator between them. 
    string = (2nd top value+operator+1st top value) <br>
    4.And push the resultant string back to Stack
    Repeat the above steps until end of Prefix expression..Checkout examples that are mention below in table.And you can also check
    <a href="/Conversion/infix_to_prefix"> infix to prefix Converter</a> and <a href="/Conversion/infix_to_postfix"> infix to posfix Converter</a>
    
    
    .Checkout examples that are mention below.</p>
    <div class="container  mt-4" style="background-color: #1d1c1c; border:2px solid white;border-radius: 10px;">
    1. Prefix Expression:+AB<br>
    Infix Expression: (A+B)<br><br>
    2. Prefix Expression: *CD<br>
    Infix Expression: (C*D)<br><br>
    3. Prefix Expression: *+AB+CD<br>
    Infix Expression: (A+B)*(C+D)<br>
    </div>
<hr class="bg-dark my-3">
<h3 class="text-center text-light">Applications</h3>
<p class="text-light text-monospace my-2 mx-2">prefix expressions are readable and solvable by humans. We can easily 
distinguish the order of operators, and also can use the parenthesis to solve that part first during solving mathematical expressions. 
The computer cannot differentiate the operators
 and parenthesis easily, that’s why infix conversion is needed.Compilers or command editor in computer and some calculators also convert expression
 to infix first and then solve those expression to evaluate answer for the same<p>


</div>
</div>


    <div class="col-md-4 my-4 ">
     
      <div class="col p-4 d-flex flex-column position-static "  style="background-color:rgb(30,30,30);
      box-shadow:13px 4px 19px 7px rgb(19 17 17);">

        <h4 class="mb-2 ">Converters</h3>
          <li  class="my-2"><a href="/Conversion/DecimalConverter/">Decimal converters</a></li>
          <li class="my-2"><a href="/Conversion/BinaryConverter/">Binary converters</a></li>
          <li class="my-2"><a href="/Conversion/HexadecimalConverter/">Hexadecimal converters</a></li>
          <li class="my-2"><a href="/Conversion/UnitsConverter/">Units converters</a></li>
          <li class="my-2"><a href="/Conversion/CurrencyConverter/">Currency converters</a></li>
          <li class="my-2"><a href="/Conversion/cgpa_to_percentage/">cgpa to percent converter</a></li>
          <li class="my-2"><a href="/Conversion/infix_to_prefix">infix to prefix converter</a></li>
          <li class="my-2"><a href="/Conversion/infix_to_postfix">infix to postfix converter</a></li>
        </div>
        <div class="col p-4 d-flex flex-column position-static my-3"  style="background-color:rgb(30,30,30);
        box-shadow:13px 4px 19px 7px rgb(19 17 17);">
          <h4 class="my-4">Calculators</h3>
            <li class="my-2"><a href="/Calculator/EMI_calculator/">EMI Calculator</a></li>
          <li class="my-2"><a href="/Calculator/BMI_calculator/">BMI Calculator</a></li>
          <li class="my-2"><a href="/Calculator/GCD_calculator/">GCD Calculator</a></li>
          <li class="my-2"><a href="/Calculator/infix_calculator">infix Calculator</a></li>
          <li class="my-2"><a href="/Calculator/Prefix_calculator">Prefix Calculator</a></li>
            
          </div>
          
       
        </div>
      </div>
</div>
</div>
{% endblock %}
{% block JS %}
<script>
$('.con').click(function (e) {

    var prefix = document.getElementById("prefix").value;
    var stack = [] , c ,str;
    function isOperator(c){
        if (c == "*" || c == "+" || c == "-" || c == "/" || c == "^" || c == "(" || c == ")"){
            return true;
        }
        else{
            return false;
            
        }
    }
    for (i = prefix.length; i >=0; i--) {

    if(isOperator(prefix[i])){
        str = "(" + stack.pop() + prefix[i] + stack.pop() + ")"
        stack.push(str)
    }
    else{
        stack.push(prefix[i])
    }
    
    }
    
  document.getElementById("infix").value = stack.pop();
  e.preventDefault();
      });
    </script>
{% endblock  %}

