{% extends 'main_index.html' %}
{% block MDesc %}
Privacy Policy
{% endblock  %}
{% block MKW %}
Text,paragraph,Grammar,corrector,suggestor.
{% endblock  %}
{% block Mr %}
8/05/21
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Privacy Policy
{% endblock  %}
{% block body %}
<style>
 
    </style>
    <div class="col-md-6 container about my-5 text-light">
     <h3 class=" my-4">Privacy Policy for CalConT</h3>
     <hr class="bg-light my-2">
      <p class=" text-monospace text-light my-4">At CalConT, accessible from <a href="https://www.calcont.in/">https://www.calcont.in/</a>,
         one of our main priorities is the privacy of our visitors. 
         This Privacy Policy document contains types of information that is collected and recorded by CalConT and how we use it.

        If you have additional questions or require more information about our Privacy Policy, do not hesitate to <a href="https://www.calcont.in/Contact_me/">contact us.</a></p>
     <hr class="bg-light my-2">
     <h4 class="my-3 ">Cookies?</h4>
      <p class=" text-monospace text-light my-4">Cookies are unique id to keep track of user.CalCont uses third parties cookies from google analytics and google search console
        to keep count and track of users daily.(*cookies are not dangerous thing you can
        browse about it anywhere.It is only use to enhance user experience.) 
      </p>
     <hr class="bg-light my-2">
    
     <h4 class="my-3 ">Which information we collect from users?</h4>
      <p class=" text-monospace text-light my-4">As we have our <a href="/Contact_me/">Contact page</a> for contacting us .We collect information like user name,email,
    Phone number (which is not mandatory).All these information is safely secured in our database.And we have sign up/register page on our website from which we collect email and passwords
  from users which is also secure,passwords collected from users are converted into some codes.So,we are also not have any idea about your password.</p>
     <hr class="bg-light my-2">
    
     <h4 class="my-3 ">Advertisements?</h4>
      <p class=" text-monospace text-light my-4">We may use advertisements in our websites in future from our advertising partners.And to show these advertisements it may use cookies
        to track what type of ads users will like to see.
      </p>
     <hr class="bg-light my-2">
  
     <h4 class="my-3 ">Children's Information</h4>
      <p class=" text-monospace text-light my-4">Another part of our priority is adding protection for children while using the internet.
           We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.

        CalConT does not knowingly collect any Personal Identifiable Information from children under the age of 13. 
        If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and
         we will do our best efforts to promptly remove such information from our records.But still it is not recommended children to use these website because it can have content related
        to profit and money.</p>
     <hr class="bg-light my-2">


     <h4 class="my-3 ">Consent</h4>
      <p class=" text-monospace text-light my-4">By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions</p>
 
    
      
    </div>
{% endblock  %}