{% extends 'main_index.html' %}
{% block MDesc %}
Sitemap for website
{% endblock  %}
{% block MKW %}sitemap, calcont{% endblock  %}
{% block Mr %}
26/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %} sitemap for calcont
{% endblock  %}
{% block body %}
<style>


</style>
<div class="container-fluid">
<h2 class="text-light my-4 text-monospace text-center">Sitemap for <span class="text-warning">CalConT</span></h2>
<p class="text-light my-2 lead text-center container">Welcome to CalCont , all those tools from calcont are mentioned here.So, do visit all those tools, which you like. <a href="/">Back to Home</a></p>
<hr class="bg-dark container mb-2 my-4">
<div class="row my-2">
    <div class="col-md-1"></div>
    <div class="col-md-4 my-4">
         <div class="col p-5 d-flex flex-column position-static content-bg " style="margin-top:100px" >
      
    
      <h4 class="mb-4 my-2 text-light">Text Analyzers</h3>
        {% for link in text %}
        <li class="my-2 "><a style="font-size:18px;" href="{{link.0}}">{{link.1}}</a></li>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 my-4">
         <div class="col p-5 d-flex flex-column position-static content-bg"  >
      
    
      <h4 class="mb-4 text-light">Converters</h3>
        {% for link in converter %}
        <li class="my-2 "><a style="font-size:18px;" href="{{link.0}}">{{link.1}}</a></li>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row my-2">
    <div class="col-md-1"></div>
    <div class="col-md-4 my-4">
         <div class="col p-5 d-flex flex-column position-static content-bg"  >
      
    
      <h4 class="mb-4 my-2 text-light">Translators</h3>
        {% for link in translator %}
        <li class="my-2 "><a style="font-size:18px;" href="{{link.0}}">{{link.1}}</a></li>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 my-4">
         <div class="col p-5 d-flex flex-column position-static content-bg"  >
      
    
      <h4 class="mb-4 text-light">Calculators</h3>
        {% for link in calculator %}
        <li class="my-2 "><a style="font-size:18px;" href="{{link.0}}">{{link.1}}</a></li>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>

{% endblock  %}