{% extends 'main_index.html' %}
{% block MDesc %}
    Support Me
{% endblock %}
{% block MKW %}

{% endblock %}
{% block Mr %}
    20/01/2021
{% endblock %}
{% block MAut %}
    Amar khamkar
{% endblock %}
{% block title %} Support CalConT
{% endblock %}
{% block body %}
    <div class="container-fluid text-light text-center">
        <section>
            <div class="row justify-content-center">
                <div class="col-md-6 my-4">
                    <h2>Support <span class="text-warning">CalConT</span></h2>
                    <p class="lead my-4">
                        Hello! I hope you're doing well wherever you are.

                        CalConT is a free website, but keeping it running comes with hosting and maintenance costs.
                        Unfortunately, ad revenue isn’t enough to cover these expenses.

                        If you find this website useful, you can support it by making a donation using the options below
                        or simply by sharing CalConT with others. Every bit of support helps!
                    </p>
                    <hr class="bg-dark my-2">

                    <!-- Razorpay Button -->
                    <div class="razorpay-embed-btn my-4" data-url="https://pages.razorpay.com/pl_IFIsllwqcX1KQM/view"
                         data-text="Pay Now" data-color="#528FF0" data-size="large">
                        <script>
                            (function () {
                                var d = document;
                                var x = !d.getElementById('razorpay-embed-btn-js')
                                if (x) {
                                    var s = d.createElement('script');
                                    s.defer = !0;
                                    s.id = 'razorpay-embed-btn-js';
                                    s.src = 'https://cdn.razorpay.com/static/embed_btn/bundle.js';
                                    d.body.appendChild(s);
                                } else {
                                    var rzp = window['__rzp__'];
                                    rzp && rzp.init && rzp.init()
                                }
                            })();
                        </script>
                    </div>

                    <!-- Buy Me a Coffee Button -->
                    <a href="https://www.buymeacoffee.com/CalConT" target="_blank">
                        <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
                             alt="Buy Me A Coffee"
                             style="height: 50px !important; width: 200px !important;">
                    </a>

                </div>
            </div>
        </section>
    </div>
{% endblock %}