{% extends 'main_index.html' %}
{% block MDesc %}
500 Error
{% endblock %}
{% block MKW %}500 Error{% endblock %}
{% block Mr %}
24/09/2021
{% endblock %}
{% block MAut %}
Amar Khamkar
{% endblock %}
{% block title %} Page Under Development {% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center text-light my-4">
                <img src="/static/under-construction.jpg" class="img-fluid" width="500" height="350" alt="Under Development Image">
                <h2>Page Under Development</h2>
                <p class="my-4 text-monospace lead">
                    Please bear with me for a few more days. I'm working very hard to fix this page. 
                    Due to dependencies on other API, it's taking a bit longer than expected. 
                    Thank you for your patience.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
