{% extends 'main_index.html' %}
{% block MDesc %}
This is a simple centimeter to foot/foot to centimeter converter,where centimeter and foot are a part of length units.
So, 1 standard unit centimeter is equal to 0.0328084 times of foot and 1 standard unit foot is 30.48 times of centimeter.
{% endblock  %}
{% block MKW %}cm to foot.{% endblock  %}
{% block Mr %}
24/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Convert cm to foot or convert foot to cm
{% endblock  %}
{% block body %}
<style>

</style>
<div class="col-md-6 my-3 container text-light" style="background-color:rgb(30,30,30);
box-shadow:13px 4px 19px 7px rgb(19 17 17);">
  <h3 class="my-4 text-center">cm to foot/foot to cm</h3>

  <hr class="my-4 bg-dark">
  <h5>Conversion from cm to foot/foot to cm</h5>
   <p class="text-monospace my-4"> How to convert cm to foot?So, 1 standard unit
    cm is equal to 0.0328084 times of foot and 1 standard unit foot is 30.48 times of cm.Like 1 cm=0.328084 foot
    ,for any number formula would be x cm=0.328084 x foot.lets see some more examples..</p>
    <hr class="bg-dark">
      <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">cm</label>
          <input type="number" class="form-control" id="cm">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">to foot..</label>
          <input class="form-control" type="number" id="cmtofoot" readonly>
        </div>
      </div>
      <a class="btn btn-outline-primary text-light Concm" role="button">Convert</a>
      <div class="form-row my-4">
        <div class="form-group col-md-6">
          <label for="inputEmail4">foot</label>
          <input type="number" class="form-control" id="foot">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">to cm..</label>
          <input class="form-control"  id="foottocm" readonly>
        </div>
      </div>
      <a class="btn btn-outline-primary text-light Confoot" href="#" role="button">Convert</a>
    <hr class="bg-dark">
<h4 class="my-2 text-center">cm to foot</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">cm</th>
      <th scope="col">foot</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>0.0328084</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>0.065616</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>0.098425</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>0.16404</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>0.65616</td>
      
    </tr>
   
  </tbody>
</table>
</div>
    <hr class="bg-dark">
<h4 class="my-2 text-center">foot to cm</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">foot</th>
      <th scope="col">cm</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>30.48</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>60.96</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>91.440</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>152.4</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>609.6</td>
      
    </tr>
   
  </tbody>
</table>
</div>
<p class="text monospace my-4">So from above examples you would have get an idea about how to convert cm to foot.Since its an simple Conversion
but for some complex calculation you will need an software which convert quickly from m to foot.CalConT has these,in below you just have to enter 
cm or foot value.
     <hr class="bg-dark">
<h3 class="my-4 text-center">Applications?</h3>
<p class="text-monospace">As cm to foot or vice versa conversion is so important beacause it has lot of application
   in mathematical, in science & technolgical world. examples will be..<br>Foot is a unit which majorly use to calculate
   living beings height,but if we want to calculate other measurements like BMI etc..in these calculation will be lot easier
   if we calculate it into centimeters. </p> 
<hr class="bg-dark">
<h4 class="text-monospace text-center">Can checkout some other centimeter converter..</h4>
</form>
<p class="text-center my-2  text-light"><a  href="/Conversion/UnitsConverter/m_to_cm">cm to m</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_inch">cm to inch</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_mile">cm to mile</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_yard">cm to yard</a>
        
        </p>
<p class="text-center my-2  text-light"><a  class="mx-2" href="/Conversion/UnitsConverter/cm_to_angstrom">cm to angstrom</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_mm">cm to mm</a>
        </p>
</div>

</div>
{% endblock %}
{% block JS %}
<script>
$('.Concm').click(function (e) {
var val=document.getElementById("cm").value;
var ans=val*0.0328084
document.getElementById("cmtofoot").value=ans;
e.preventDefault();
});
$('.Confoot').click(function (e) {
var val=document.getElementById("foot").value;
var ans=val*30.48
document.getElementById("foottocm").value=ans;
e.preventDefault();
});
</script>
{% endblock  %}