{% extends 'main_index.html' %}
{% block MDesc %}
>This is a simple meter to milimeter/milimeter to meter converter,where meter and milimeter are a part of length units.
So, 1 standard unit meter is equal to 1000 times of milimeter and 1 standard unit milimeter is 1/1000 times of meter.
{% endblock  %}
{% block MKW %}mtr to mm,m to milimeter{% endblock  %}
{% block Mr %}
24/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Convert m to mm or convert mm to m
{% endblock  %}
{% block body %}
<style>
.jumbotron{
    background-image:linear-gradient(to right,rgb(25, 30, 30) 100%, rgb(100,100,100) 70%);
}
</style>
<div class="container col-md-6 my-4">
<div class="jumbotron my-2 text-light">
  <h1 class="my-4 text-center">meter to mm/mm to meter</h1>

  <hr class="my-4 bg-white">
  <h4>Conversion from m to mm/mm to m</h4>
   <p class="text-monospace my-4"> How to convert meter to milimeter?So, 1 standard unit
    meter is equal to 1000 times of mm and 1 standard unit mm is 0.001 times of meter.Like 1 meter=1000mm
    ,for any number formula would be x meter=1000x mm.lets see some more examples..</p>
    <hr class="bg-light">
<h4 class="my-2 text-center">m to mm</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Meter</th>
      <th scope="col">mm</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>1000</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>2000</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>3000</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>5000</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>20000</td>
      
    </tr>
   
  </tbody>
</table>
</div>
    <hr class="bg-light">
<h4 class="my-2 text-center">mm to m</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">milimeter</th>
      <th scope="col">meter</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>0.001</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>0.002</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>0.003</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>0.005</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>0.05</td>
      
    </tr>
   
  </tbody>
</table>
</div>
<p class="text monospace my-4">So from above examples you would have get an idea about how to convert m to mm.Since its an simple Conversion
but for some complex calculation you will need an software which convert quickly from m to milimeter.CalConT has these,in below you just have to enter 
meter or mm value.
<hr class="bg-light">
  <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">mtr</label>
      <input type="number" class="form-control" id="mt">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">to mm..</label>
      <input class="form-control" type="number" id="mtomm" readonly>
    </div>
  </div>
  <a class="btn btn-primary btn-lg Conmm" role="button">Convert</a>
  <div class="form-row my-4">
    <div class="form-group col-md-6">
      <label for="inputEmail4">mm</label>
      <input type="number" class="form-control" id="mm">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">to mtr..</label>
      <input class="form-control"  id="mmtomt" readonly>
    </div>
  </div>
  <a class="btn btn-primary btn-lg Conm" href="#" role="button">Convert</a>
  <hr class="bg-light">
<h3 class="my-4 text-center">Applications?</h3>
<p class="text-monospace">As meter to mm or vice versa conversion is so important beacause it has lot of application
   in mathematical, in science & technolgical world. examples will be..<br>Milimeter unit is useful in microinstrument
   i.e.to calculate radius,length of an object e.g screw gauge is an instrument which calculates radius in mm,
   in that for simple and standard calculation we have to convert it into meter.. </p> 
<hr class="bg-light">
</form>
<p class="text-center my-2  text-light"><a  href="/Conversion/UnitsConverter/m_to_cm">m to cm</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_mile">m to mile</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_foot">m to foot</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_yard">m to yard</a>
        
        </p>
<p class="text-center my-2  text-light"><a  class="mx-2" href="/Conversion/UnitsConverter/m_to_angstrom">mt to angstrom</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_inch">m to inch</a>
        </p>
</div>

</div>
{% endblock %}
{% block JS %}
<script>
$('.Conmm').click(function (e) {
var val=document.getElementById("mt").value;
var ans=val*1000
document.getElementById("mtomm").value=ans;
e.preventDefault();
});
$('.Conm').click(function (e) {
var val=document.getElementById("mm").value;
var ans=val*0.001
document.getElementById("mmtomt").value=ans;
e.preventDefault();
});
</script>
{% endblock  %}