{% extends 'main_index.html' %}
{% block MDesc %}
This is a simple meter to foot/foot to meter converter,where meter and foot are a part of length units.
So, 1 standard unit meter is equal to 3.2808399 times of foot and 1 standard unit foot is 0.3048 times of meter.
{% endblock  %}
{% block MKW %}mtr,foot.{% endblock  %}
{% block Mr %}
24/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Convert m to foot or convert foot to m
{% endblock  %}
{% block body %}
<style>
.jumbotron{
    background-image:linear-gradient(to right,rgb(25, 30, 30) 100%, rgb(100,100,100) 70%);
}
</style>
<div class="container col-md-6 my-4">
<div class="jumbotron my-2 text-light">
  <h3 class="my-4 text-center">meter to foot/foot to meter</h3>

  <hr class="my-4 bg-white">
  <h5>Conversion from m to foot/foot to m</h5>
   <p class="text-monospace my-4"> How to convert meter to foot?So, 1 standard unit
    meter is equal to 3.2808399 times of foot and 1 standard unit foot is 0.3048 times of meter.Like 1 meter=3.2808399 foot
    ,for any number formula would be x meter=3.2808399x foot.lets see some more examples..</p>
    <hr class="bg-light">
<h4 class="my-2 text-center">m to foot</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Meter</th>
      <th scope="col">foot</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>3.2808399</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>6.5616798</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>9.8425197</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>16.4041995</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>65.616798</td>
      
    </tr>
   
  </tbody>
</table>
</div>
    <hr class="bg-light">
<h4 class="my-2 text-center">foot to m</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">foot</th>
      <th scope="col">meter</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>0.3048</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>0.6096</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>0.91440</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>1.524</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>6.096</td>
      
    </tr>
   
  </tbody>
</table>
</div>
<p class="text monospace my-4">So from above examples you would have get an idea about how to convert m to foot.Since its an simple Conversion
but for some complex calculation you will need an software which convert quickly from m to foot.CalConT has these,in below you just have to enter 
meter or foot value.
<hr class="bg-light">

  <form>
  <div class="form-row my-2">
    <div class="form-group col-md-6">
      <label for="inputEmail4">mtr</label>
      <input type="number" class="form-control" id="mt">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">to foot..</label>
      <input class="form-control" type="number" id="mtofoot" readonly>
    </div>
  </div>
  <a class="btn btn-primary btn-lg Confoot" role="button">Convert</a>
  <div class="form-row my-4">
    <div class="form-group col-md-6">
      <label for="inputEmail4">foot</label>
      <input type="number" class="form-control" id="foot">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">to mtr..</label>
      <input class="form-control"  id="foottom" readonly>
    </div>
  </div>
  <a class="btn btn-primary btn-lg Conm" href="#" role="button">Convert</a>
   <hr class="bg-light">
<h3 class="my-4 text-center">Applications?</h3>
<p class="text-monospace">As meter to foot or vice versa conversion is so important beacause it has lot of application
   in mathematical, in science & technolgical world. examples will be..<br>Foot is a unit which majorly use to calculate
   living beings height,but if we want to calculate other measurements like BMI etc..in these calculation will be lot easier
   if we calculate it into meters. </p> 
<hr class="bg-light">
</form>
<p class="text-center my-2  text-light"><a  href="/Conversion/UnitsConverter/m_to_mm">mtr to mm</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_cm">m to cm</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_inch">m to inch</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_mile">m to mile</a>
  
        </p>
<p class="text-center my-2  text-light"><a  href="/Conversion/UnitsConverter/m_to_yard">mtr to yard</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_angstrom">m to angstrom</a>
</p>
</div>

</div>
{% endblock %}
{% block JS %}
<script>
$('.Confoot').click(function (e) {
var val=document.getElementById("mt").value;
var ans=val*3.2808399
document.getElementById("mtofoot").value=ans;
e.preventDefault();
});
$('.Conm').click(function (e) {
var val=document.getElementById("foot").value;
var ans=val*0.3048
document.getElementById("foottom").value=ans;
e.preventDefault();
});
</script>
{% endblock  %}