{% extends 'main_index.html' %}
{% block MDesc %}
This is a simple centimeter to angstrom/angstrom to centimeter converter,where centimeter and angstrom are a part of length units.
So, 1 standard unit centimeter is equal to 100000000 times of angstrom and 1 standard unit angstrom is 1.0000E-8 times of centimeter.
{% endblock  %}
{% block MKW %}
cm to angstrom,cm to angstrom
{% endblock  %}
{% block Mr %}
24/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Convert cm to angstrom or convert angstrom to cm
{% endblock  %}
{% block body %}
<style>

</style>
<div class="col-md-6 my-3 container text-light" style="background-color:rgb(30,30,30);
box-shadow:13px 4px 19px 7px rgb(19 17 17);">
  <h3 class="my-4 text-center">cm to angstrom/angstrom to cm</h3>

  <hr class="my-4 bg-dark">
  <h5>Conversion from cm to angstrom/angstrom to cm</h5>
   <p class="text-monospace my-4"> How to convert cm to angstrom?So, 1 standard unit
    cm is equal to 100000000 times of angstrom and 1 standard unit angstrom is 1.0000E-8 times of cm.Like 1 cm=100000000 angstrom
    ,for any number formula would be x cm=100000000*x angstrom.lets see some more examples..</p>
    <hr class="bg-dark">
      <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">cm</label>
          <input type="number" class="form-control" id="cm">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">to angstrom..</label>
          <input class="form-control" type="number" id="cmtoangstrom" readonly>
        </div>
      </div>
      <a class="btn btn-outline-secondary text-light  Concm" role="button">Convert</a>
      <div class="form-row my-4">
        <div class="form-group col-md-6">
          <label for="inputEmail4">angstrom</label>
          <input type="number" class="form-control" id="angstrom">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">to cm..</label>
          <input class="form-control"  id="angstromtocm" readonly>
        </div>
      </div>
      <a class="btn btn-outline-secondary text-light  Conangstrom" href="#" role="button">Convert</a>
    <hr class="bg-dark">
<h4 class="my-2 text-center">cm to angstrom</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">cm</th>
      <th scope="col">angstrom</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>100000000</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>200000000</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>300000000</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>500000000</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>2000000000</td>
      
    </tr>
   
  </tbody>
</table>
</div>
    <hr class="bg-dark">
<h4 class="my-2 text-center">angstrom to cm</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">angstrom</th>
      <th scope="col">cm</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>10^-8</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>2 X 10^-8</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>3 X 10^-8</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>5 X 10^-8</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>2 X8 10^-7</td>
      
    </tr>
   
  </tbody>
</table>
</div>
<p class="text monospace my-4">So from above examples you would have get an idea about how to convert cm to angstrom.Since its an simple Conversion
but for some complex calculation you will need an software which convert quickly from m to angstrom.CalConT has these,in below you just have to enter 
cm or angstrom value.
    <hr class="bg-dark">
<h3 class="my-4 text-center">Applications?</h3>
<p class="text-monospace">As cm to angstrom or vice versa conversion is so important beacause it has lot of application
   in mathematical, in science & technolgical world. examples will be..<br>Angstrom unit in a use in atomic world i.e to calculate
   size or volume of an atom and wavelength of light is always calculate in angstrom.But its not part of SI unit that's why it is 
   necessary to convert it into centimeter. </p> 
<hr class="bg-dark">
<h4 class="text-monospace text-center">Can checkout some other meter converter..</h4>
</form>
<p class="text-center my-2  text-light"><a  href="/Conversion/UnitsConverter/m_to_cm">cm to m</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_inch">cm to inch</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_mile">cm to mile</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_foot">cm to foot</a>
        
        </p>
<p class="text-center my-2  text-light"><a  class="mx-2" href="/Conversion/UnitsConverter/cm_to_angstrom">cm to yard</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_mm">cm to mm</a>
        </p>

</div>

</div>
{% endblock %}
{% block JS %}
<script>
$('.Concm').click(function (e) {
var val=document.getElementById("cm").value;
var ans=val*100000000
document.getElementById("cmtoangstrom").value=ans;
e.preventDefault();
});
$('.Conangstrom').click(function (e) {
var val=document.getElementById("angstrom").value;
var ans=val + " X 10^-8";
document.getElementById("angstromtocm").value=ans;
e.preventDefault();
});
</script>
{% endblock  %}