{% extends 'main_index.html' %}
{% block MDesc %}
>This is a simple meter to yard/yard to meter converter,where meter and milimeter are a part of length units.
So, 1 standard unit meter is equal to 1.0936 times of yards and 1 standard unit yard is 0.9144 times of meter.
{% endblock  %}
{% block MKW %}mtr to yards,m to yards{% endblock  %}
{% block Mr %}
24/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Convert m to yard or convert yard to m
{% endblock  %}
{% block body %}
<style>
.jumbotron{
    background-image:linear-gradient(to right,rgb(25, 30, 30) 100%, rgb(100,100,100) 70%);
}
</style>
<div class="container col-md-6 my-4">
<div class="jumbotron my-2 text-light">
  <h3 class="my-4 text-center">meter to yard/yard to meter</h3>

  <hr class="my-4 bg-white">
  <h5>Conversion from m to yard/yard to m</h5>
   <p class="text-monospace my-4"> How to convert meter to yard?So, 1 standard unit
    meter is equal to 1.0936 times of yard and 1 standard unit yard is 0.9144 times of meter.Like 1 meter=1.0936 yard
    ,for any number formula would be x meter=1.0936x yard.lets see some more examples..</p>
    <hr class="bg-light">
<h4 class="my-2 text-center">m to yard</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Meter</th>
      <th scope="col">yard</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>1.0936</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>2.1872</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>3.2807</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>5.468</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>21.872</td>
      
    </tr>
   
  </tbody>
</table>
</div>
    <hr class="bg-light">
<h4 class="my-2 text-center">yard to m</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">yard</th>
      <th scope="col">meter</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>0.9144</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>1.8288</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>2.7432</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>4.572</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>18.288</td>
      
    </tr>
   
  </tbody>
</table>
</div>
<p class="text monospace my-4">So from above examples you would have get an idea about how to convert m to yard.Since its an simple Conversion
but for some complex calculation you will need an software which convert quickly from m to yard.CalConT has these,in below you just have to enter 
meter or foot value.
<hr class="bg-light">

  <form>
  <div class="form-row my-2">
    <div class="form-group col-md-6">
      <label for="inputEmail4">mtr</label>
      <input type="number" class="form-control" id="mt">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">to yards..</label>
      <input class="form-control" type="number" id="mtoyard" readonly>
    </div>
  </div>
  <a class="btn btn-primary btn-lg Conyard" role="button">Convert</a>
  <div class="form-row my-4">
    <div class="form-group col-md-6">
      <label for="inputEmail4">yard</label>
      <input type="number" class="form-control" id="yard">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">to mtr..</label>
      <input class="form-control"  id="yardtomt" readonly>
    </div>
  </div>
  <a class="btn btn-primary btn-lg Conm" href="#" role="button">Convert</a>
  <hr class="bg-light">
<h3 class="my-4 text-center">Applications?</h3>
<p class="text-monospace">As meter to yard or vice versa conversion is so important beacause it has lot of application
   in mathematical, in science & technolgical world. examples will be..<br>Yard is a length unit which 
  is generally used to measure ground distance in sports ,but that to we'll need to convert in meter if we wish do other 
  calculations. </p> 
<hr class="bg-light">
</form>
<p class="text-center my-2  text-light"><a  href="/Conversion/UnitsConverter/m_to_cm">m to cm</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_foot">m to foot</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_mm">m to mm</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_mile">m to mile</a>
        
        </p>
<p class="text-center my-2  text-light"><a  href="/Conversion/UnitsConverter/m_to_angstrom">m to angstrom</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_inch">m to inch</a>
      
        </p>
</div>

</div>
{% endblock %}
{% block JS %}
<script>
$('.Conyard').click(function (e) {
var val=document.getElementById("mt").value;
var ans=val*1.0936
document.getElementById("mtoyard").value=ans;
e.preventDefault();
});
$('.Conm').click(function (e) {
var val=document.getElementById("yard").value;
var ans=val*0.9144
document.getElementById("yardtomt").value=ans;
e.preventDefault();
});
</script>
{% endblock  %}