{% extends 'main_index.html' %}
{% block MDesc %}
This is a simple centimeter to inch/inch to centimeter converter,where centimeter and inch are a part of length units..
So, 1 standard unit centimeter is equal to 0.3937 times of inches and 1 standard unit inch is 2.54 times of centimeter.
{% endblock  %}
{% block MKW %}cm to inches.{% endblock  %}
{% block Mr %}
24/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Convert cm to inch or convert inch to cm
{% endblock  %}
{% block body %}
<style>

</style>
<div class="col-md-6 my-3 container text-light" style="background-color:rgb(30,30,30);
box-shadow:13px 4px 19px 7px rgb(19 17 17);">

  <h3 class="my-4 text-center">cm to inch/inch to cm</h3>
  
  <hr class="my-4 bg-dark">
  <h5>Conversion from cm to inch/inch to cm</h5>
  <p class="text-monospace my-4"> How to convert cm to inch?So, 1 standard unit
    cm is equal to 0.3937 times of inch and 1 standard unit inch is 2.54 times of cm.Like 1 cm=0.3937 inch
    ,for any number formula would be x cm=0.3937 x inch.lets see some more examples..</p>
    <hr class="bg-dark">
    
      <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">cm</label>
          <input type="number" class="form-control" id="cm">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">to inch..</label>
          <input class="form-control" type="number" id="cmtoinch" readonly>
        </div>
      </div>
      <a class="btn btn-outline-secondary text-light Concm" role="button">Convert</a>
      <div class="form-row my-4">
        <div class="form-group col-md-6">
          <label for="inputEmail4">inch</label>
          <input type="number" class="form-control" id="inch">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">to cm..</label>
          <input class="form-control"  id="inchtocm" readonly>
        </div>
      </div>
      <a class="btn btn-outline-secondary text-light Coninch" href="#" role="button">Convert</a>
    <hr class="bg-dark">
<h4 class="my-2 text-center">cm to inch</h4>
<div class="container col-md-8 mt-4">
  <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">cm</th>
      <th scope="col">inch</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>0.3937</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>0.794</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>1.1910</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>1.985</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>7.94</td>
      
    </tr>
   
  </tbody>
</table>
</div>
    <hr class="bg-dark">
<h4 class="my-2 text-center">inch to cm</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">inch</th>
      <th scope="col">cm</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>2.540</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>5.080</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>7.620</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>12.70</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>50.80</td>
      
    </tr>
   
  </tbody>
</table>
</div>
<p class="text monospace my-4">So from above examples you would have get an idea about how to convert m to inch.Since its an simple Conversion
but for some complex calculation you will need an software which convert quickly from cm to inch.CalConT has these,in below you just have to enter 
cm or inch value.
  <hr class="bg-dark">
<h3 class="my-4 text-center">Applications?</h3>
<p class="text-monospace">As cm to inch or vice versa conversion is so important beacause it has lot of application
   in mathematical, in science & technolgical world. examples will be..<br>Inch is a length unit which use in meter tape .So in that also we have both
   m,inch &cm measurements and human eye can easily observed conversion between two. </p> 
<hr class="bg-dark">
<h4 class="text-monospace text-center">Can checkout some other centimeter converter..</h4>
</form>
<p class="text-center my-2  text-light"><a  href="/Conversion/UnitsConverter/m_to_cm">cm to m</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_mile">cm to mile</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_foot">cm to foot</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_yard">cm to yard</a>
        
        </p>
<p class="text-center my-2  text-light"><a  class="mx-2" href="/Conversion/UnitsConverter/cm_to_angstrom">cm to angstrom</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/cm_to_mm">cm to mm</a>
        </p>
</div>

</div>
{% endblock %}
{% block JS %}
<script>
$('.Concm').click(function (e) {
var val=document.getElementById("cm").value;
var ans=val*0.397
document.getElementById("cmtoinch").value=ans;
e.preventDefault();
});
$('.Coninch').click(function (e) {
var val=document.getElementById("inch").value;
var ans=val*2.54
document.getElementById("inchtocm").value=ans;
e.preventDefault();
});
</script>
{% endblock  %}