{% extends 'main_index.html' %}
{% block MDesc %}
This is a simple meter to inch/inch to meter converter,where meter and inch are a part of length units.
So, 1 standard unit meter is equal to 39.37 times of inches and 1 standard unit  is 1/39.37 times of meter.
{% endblock  %}
{% block MKW %}mtr to inches,m to inch,meter to inch{% endblock  %}
{% block Mr %}
24/12/2020
{% endblock  %}
{% block MAut %}
Amar khamkar
{% endblock  %}
{% block title %}- Convert m to inch or convert inch to m
{% endblock  %}
{% block body %}
<style>

</style>
<div class="col-md-6 my-3 container text-light" style="background-color:rgb(30,30,30);
box-shadow:13px 4px 19px 7px rgb(19 17 17);">
  <h3 class="my-4 text-center">meter to inch/inch to meter</h3>

  <hr class="my-4 bg-dark">
  <h5>Conversion from m to inch/inch to m</h5>
   <p class="text-monospace my-4"> How to convert meter to inch?So, 1 standard unit
    meter is equal to 39.37 times of inch and 1 standard unit inch is 0.02540 times of meter.Like 1 meter=39.37 inch
    ,for any number formula would be x meter=39.37x inch.lets see some more examples..</p>
    <hr class="bg-dark">
    
      <form>
      <div class="form-row my-2">
        <div class="form-group col-md-6">
          <label for="inputEmail4">mtr</label>
          <input type="number" class="form-control" id="mt">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">to inch..</label>
          <input class="form-control" type="number" id="mttoinch" readonly>
        </div>
      </div>
      <a class="btn btn-outline-secondary text-light Coninch" role="button">Convert</a>
      <div class="form-row my-4">
        <div class="form-group col-md-6">
          <label for="inputEmail4">inch</label>
          <input type="number" class="form-control" id="inch">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">to mtr..</label>
          <input class="form-control"  id="inchtomt" readonly>
        </div>
      </div>
      <a class="btn btn-outline-secondary text-light Conmt" href="#" role="button">Convert</a>
    <hr class="bg-dark">
<h4 class="my-2 text-center">m to inch</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Meter</th>
      <th scope="col">inch</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>39.37</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>78.74</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>118.10</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>196.85</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>787.4</td>
      
    </tr>
   
  </tbody>
</table>
</div>
    <hr class="bg-dark">
<h4 class="my-2 text-center">inch to m</h4>
    <div class="container col-md-8 mt-4">
    <table class="table text-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">inch</th>
      <th scope="col">meter</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>0.02540</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>0.05080</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>0.07620</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>5</td>
      <td>0.1270</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>20</td>
      <td>0.5080</td>
      
    </tr>
   
  </tbody>
</table>
</div>
<p class="text monospace my-4">So from above examples you would have get an idea about how to convert m to inch.Since its an simple Conversion
but for some complex calculation you will need an software which convert quickly from m to inch.CalConT has these,in below you just have to enter 
meter or foot value.
   
   <hr class="bg-dark">
<h3 class="my-4 text-center">Applications?</h3>
<p class="text-monospace">As meter to inch or vice versa conversion is so important beacause it has lot of application
   in mathematical, in science & technolgical world. examples will be..<br>Inch is a length unit which use in meter tape .So in that also we have both
   m and inch measurements and human eye can easily observed conversion between two. </p> 
<hr class="bg-dark">
</form>
<p class="text-center my-2  text-light"><a  href="/Conversion/UnitsConverter/m_to_mm">mtr to mm</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_cm">m to cm</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_foot">m to foot</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_mile">m to mile</a>
  
        </p>
<p class="text-center my-2  text-light"><a  href="/Conversion/UnitsConverter/m_to_yard">mtr to yard</a>
        <a class="mx-2" href="/Conversion/UnitsConverter/m_to_angstrom">m to angstrom</a>
        

        </p>
</div>

</div>
{% endblock %}
{% block JS %}
<script>
$('.Coninch').click(function (e) {
var val=document.getElementById("mt").value;
var ans=val*39.37
document.getElementById("mttoinch").value=ans;
e.preventDefault();
});
$('.Conmt').click(function (e) {
var val=document.getElementById("inch").value;
var ans=val*(1/39.37)
document.getElementById("inchtomt").value=ans;
e.preventDefault();
});
</script>
{% endblock  %}