{% extends 'main_index.html' %}
{% block MDesc %}
Is is calculator which mainly used in statistics,machine learning where in we have x labels can be called as features and y labels which is outputs.
And we find the standard linear regression equation y = a + bx from given inputs.
{% endblock %}
{% block MKW %}Linear regression calculator,Linear regression,statistics calculators,machine learning{% endblock %}
{% block Mr %}
12/05/2022
{% endblock %}
{% block MAut %}
Amar khamkar
{% endblock %}
{% block title %}Linear Regression Calculator
{% endblock %}
{% block body %}
<style>
</style>
<div class="container text-light">

  <div class="row ">

    <div class="col-md-7 my-4 " style="background-color:rgb(30,30,30);
    box-shadow:13px 4px 19px 7px rgb(19 17 17);">
      <div class="my-4 ">
        <h1 class="text-center ">Linear regression calculator</h1>
        <hr class='bg-dark'>
        <h3 class="my-4 text-center">What is linear regression?</h3>
        <p class="text-monospace my-4">As name tells it is an linear line whose equation we find by solving given inputs such as x lables / features
          and given outputs i.e y labels and through this we calculate paramter such as a,b and we put this in standard equation
          y = bx + a. It helps us to find output for any desired x values. Below you can see the formula's to calculate a,b constant values.

    </p>
    <img class="container img-fluid d-block mx-auto" src="/static/LinearReg2.png" style="width:60%;height:60%;background-color:#222324;">
          <hr class="bg-dark">
          <form id="post-form" > 
            {% csrf_token %}   
          <div class="my-2 container"  style="border:3px solid #2b2929;border-radius: 10px;">
            <div class="form-group my-4" >
              <label for="">Enter number of entries(*<span class="text-danger">upto 50</span>)</label>
            <input type="number" class="form-control placeholder-bg" placeholder="1st no" id="No" style="
            color: white;
                      background-color: #191717;
                      border: 3px solid black;
                      border-radius: 15px;" onkeyup="CreateTb(this)" required>
            
          </div>
          <div id="value-table" style="display: none;">
            <div class="container col-md-11" style='height:280px;overflow-y:auto;'>
            <table class="table my-4 text-light table-borderless" >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">X</th>
                  <th scope="col">Y</th>
  
                </tr>
                <tbody id="tVal">
                  
                  </tbody>
              </thead>
              </table>
          </div>
        </div>
      </div>
          <button type="submit" class="  btn btn-outline-secondary text-light cal my-3">Calculate</button>
      </form>
      <div id="answers" class="container"  style="display: none;border:3px solid #2b2929;border-radius: 10px;">
        
      </div>
      <button type="submit" id="viewResult" style="display: none;" class="  btn btn-outline-secondary text-light cal my-3">view all tables</button>
      <div id="all-tables" class="container" style="display: none;border:3px solid #2b2929;border-radius: 10px;">
        <div class="row">
          <div class="col-4">
        <p class="my-2 mx-2"> Σx^2:</p>
        <textarea class="my-2 mb-2" id="xsq" cols="10" rows="10" style="
        color: white;
                  background-color: #191717;
                  border: 3px solid black;
                  border-radius: 15px;">
        </textarea>
      </div>
          <div class="col-4">
        <p class="my-2 mx-2"> Σy^2:</p>
        <textarea class="my-2 mb-2" id="ysq" cols="10" rows="10" style="
        color: white;
                  background-color: #191717;
                  border: 3px solid black;
                  border-radius: 15px;">
        </textarea>
      </div>
          <div class="col-4">
        <p class="my-2 mx-2"> Σxy:</p>
        <textarea class="my-2 mb-2" id="xy" cols="10" rows="10" style="
        color: white;
                  background-color: #191717;
                  border: 3px solid black;
                  border-radius: 15px;">
        </textarea>
      </div>
      </div>
      </div>
        <h3 class="my-3 ">Applications of Linear Regression</h3>
        <p class="text-monospace my-4"> 
        It's application can be seen in statistics but majorly it used in machine learning,artificial intelligence to predict values.
        Like we have three types of learning in AI <br><b>1.</b>Supervised learning<br><b>2.</b>Unsupervised learning<br><b>3.</b>Reinforcement learning<br>
        where in we used linear regression in supervised learning where we have multiple feature along with known outputs or we can say an past collected
        dataset. So,in this case we trained our model by fitting linear regression line.Then we can simply give any features and this model will calculate 
        output for us.Many industries are still using this algorithm to simplify their work.
        </p>
       

       

      </div>
    </div>
    <div class="col-md-4 my-4 ">
    
      <div class="col my-3 p-4 d-flex flex-column position-static "  style="background-color:rgb(30,30,30);
      box-shadow:13px 4px 19px 7px rgb(19 17 17);">
       <h4 class="mb-2 ">Calculators</h3>
        {% for link in link_string1 %}
        <li class="my-2"><a href="{{link.0}}">{{link.1}}</a></li>
        {% endfor %}
        </div>
        <div class="col my-3 p-4 d-flex flex-column position-static "  style="background-color:rgb(30,30,30);
    box-shadow:13px 4px 19px 7px rgb(19 17 17);">
    <h4 class="my-2">Converters</h3>
    {% for link in link_string2 %}
    <li class="my-2"><a href="{{link.0}}">{{link.1}}</a></li>
     {% endfor %}
          </div>
          </div>
          
       
        </div>
  </div>
</div>
  {% endblock %}
  {% block JS %}
  <script src="/static/js/calculator/linearReg.js"></script>
  {% endblock %}