
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
    
html {
  scroll-behavior: smooth;
}

a {
  color: #6c859a;
}

body {
  background-color: rgb(25, 25, 25);
}

navbar {
  background-color: rgb(5, 5, 5);
}

thead {
  background-color: #2f6794;
  color: #a1b0bb;
}

tbody {
  background-color: #1c2023;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #362f2f;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333538;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333538;
}

.btn {
  padding: 0.5rem 1.8rem;
  border: none;
  font-size: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.8);
}

.btn-outline-secondary {
  padding: 0.5rem 1.8rem;
  border: none;
  font-size: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.8);
  background-color: #313233;
}

.trae {
  padding: 0.8rem 1.8rem;
  border: none;
  font-size: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.8);
  background-color: #3879ba;
}

.content-bg {
  background-color: rgb(30, 30, 30);
  box-shadow: 13px 4px 19px 7px rgb(19 17 17);
  border-radius: 20px;
}

@media only screen and (max-width: 500px) and (min-width: 200px) {
  #AlertS {
    font-size: 14px;
  }

  .radio-text {
    font-size: 12px;
  }
}

#baktop {
  right: 10px;
  margin-top: 500px;
  position: fixed;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.brand {
  border: 1px solid black;
  border-radius: 50px;
}

.dropdown-menu {
  background-color: rgb(25, 25, 25);
  border: 1.5px solid white;
  border-radius: 10px;
  color: blanchedalmond;
}

.dropdown-item {
  color: white;
}

.footer {
  position: absolute;
}

.modelText {
  font-size: 18px;
}

.form-component {
    color: white;
    background-color: #191717;
    border: 2px solid #141414;
    border-radius: 10px;
  }
  
.form-component:focus {
    color: white;
    background-color: #191717;
    border: 2px solid #141414;
    border-radius: 10px;
}

.form-component[readonly]{
  background-color: #191717;
}

.ad-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-container>body {
  display: flex;
  justify-content: center;
  align-items: center;
}
